<extend name="public/modal" />
<block name="title">添加管理员</block>
<block name="menu">
	<form action="{:U('manager/add')}" method="POST" class="form form-horizontal" id="form-admin-add" onsubmit="return checkForm()">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">角色：</label>
			<div class="formControls col-xs-8 col-sm-9"> <span class="select-box" style="width:150px;">
				<select class="select" name="adminRole" size="1">
				    <volist name="data" id="vo">
						<if condition="$vo.id neq 1 and $vo.id neq 5 and $vo.id neq 2">
				      <option value="{$vo.id}">{$vo.name}</option>
						</if>
				    </volist>
				</select>
				</span>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>姓名：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" placeholder="请输入真实姓名" id="adminName" name="adminName" required="required" >
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>手机：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" placeholder="请输入手机号" id="adminphone" name="adminphone" required="required" onkeyup="value=value.replace(/[^\d]/g,'')" pattern="^1[3456789]\d{9}$" oninvalid="setCustomValidity('请输入11位手机号');" oninput="setCustomValidity('');">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>初始密码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="password" class="input-text" autocomplete="off" value="" placeholder="密码" id="password" name="password" required="required">
			</div>
		</div>
		<div class="row cl info-confirm">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>确认密码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="password" class="input-text" autocomplete="off"  placeholder="确认新密码" id="password2" name="password2" required="required">
			</div>
		</div>
		<div class="row cl info-wechat wechat" style="display: none;">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>微信：</label>
			<div class="formControls col-xs-4 col-sm-4">
				<input type="text" class="input-text w-num-a"  placeholder="请输入微信" name="wechat[]" >
			</div>
			<div class="formControls col-xs-4 col-sm-4" id="add-yewu-wechat">
				<input type="button" class="btn btn-primary radius" value="添加微信" onclick="addMoreWechat()" >
			</div>
		</div>
		<div class="row cl info-wechat card">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>微信：</label>
			<div class="formControls col-xs-7 col-sm-8" >
				<input type="text" class="input-text w-num"  placeholder="微信号" name="wechat[0][num]"  style="width: 20%;">
				<input type="text" class="input-text w-nickname"  placeholder="微信昵称" name="wechat[0][nick]"  style=" width: 20%;">
				<input type="text" class="input-text w-card"  placeholder="银行卡号"  name="wechat[0][card]"  onkeyup="value=value.replace(/[^\d]/g,'')"  style="width: 36%;" >
				<input type="text" class="input-text w-name"  placeholder="银行卡姓名" name="wechat[0][username]"  style="width: 20%;">
			</div>
		</div>
		<!--<div class="row cl addcard">
			<label class="form-label col-xs-4 col-sm-3"></label>
			<div class="formControls col-xs-4 col-sm-4">
				<input type="button" class="btn btn-primary radius" value="添加微信" onclick="createCard()" >
			</div>
		</div>-->
		<div class="row cl info-qq">
			<label class="form-label col-xs-4 col-sm-3">QQ：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text"  placeholder="请输入QQ号码" id="qq" name="qq" onkeyup="value=value.replace(/[^\d]/g,'')">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">备注：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<textarea name="info" cols="" rows="" class="textarea"  placeholder="业务员请填写花名，其它可不填" dragonfly="true"></textarea>
				<p class="textarea-numberbar"><em class="textarea-length">0</em>/100</p>
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
			</div>
		</div>
	</form>
</block>
<block name="js">
<script src="__PUBLIC__/ajaxfileupload.js"></script>
<script type="text/javascript">
	var i=0;
	$(".select").change(function(){
		if(this.value == 6){
			$(".wechat").show();
			$(".card").hide();
			$(".card div .input-text").attr('disabled','disabled');
			$(".addcard").hide();
			$("#add-yewu-wechat").hide();
			var html = '<div class="row cl new"><label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>微信号截图：</label><div class="formControls col-xs-8 col-sm-9 posi-rela"><button class="btn btn-success radius">上传图片</button><input class="file-input fileToUpload" type="file" accept="image/*" name="fileToUpload" id="fileToUpload" onclick="uploadFile(this,\'fileToUpload\');"  value=""><br /><div id="img_preview_one"><input type="hidden" name="img" id="img" /><img src="__PUBLIC__/ERP/static/h-ui.admin/images/thumbnail.png" id="thumb-preview"></div></div></div>';
			$(".info-qq").after(html);

		}else{
			$("#form-admin-add .new").remove();
		}
		if(this.value == 3){
			$(".wechat").hide();
			$(".card").show();
			$(".card div .input-text").removeAttr('disabled');
			$(".addcard").show();
		}else{
			$("#form-admin-add .card-new").remove();
		}
		if(this.value == 4){
			$(".wechat").show();
			$("#add-yewu-wechat").show();
			$(".card").hide();
			$(".card div .input-text").attr('disabled','disabled');
			$(".addcard").hide();
		}else{
			$("#form-admin-add .wechat-new").remove();
		}
	});

	function uploadFile(obj,file_id){
	 	$("input[name='"+file_id+"']").bind("change",function(){
	 		$.ajaxFileUpload({
	 			url:"{:U('Welcome/ajaxUpload')}",//上传图片处理文件
	 			secureuri:false,
	 			fileElementId:file_id,
	 			dataType: 'text',
	 			success: function (data){
	 				var data= strToObj(data);
	 				if(1 == data.status){
	 					$('#img').val(data.name);
	 					$('#thumb-preview').attr('src', '__ROOT__/upload/'+data.savepath+'/'+data.name);
	 				} else {
	 					layer.msg(data.msg,{icon:2,time:1000});
	 				}
	 			},
	 			error: function (data){
	 				layer.msg('上传失败!',{icon:2,time:1000});
	 			}
	 		});
	 	});
	 }

	 function strToObj(str) {
		 return eval("(" + str + ")");
	 }
	 function addMoreWechat(){
	 	var wechatStr = '<div class="row cl info-wechat-new wechat-new"><label class="form-label col-xs-4 col-sm-3"></label><div class="formControls col-xs-4 col-sm-4"><input type="text" class="input-text"  placeholder="选填微信号"  name="wechat[]" ></div><div class="formControls col-xs-4 col-sm-4"><input type="button" class="btn btn-danger radius" value="删除" onclick="removeWechat(this)" ></div>';
	 	$(".info-wechat.wechat").after(wechatStr);
	 }
	 function removeWechat(el){
		$(el).parents('.info-wechat-new').remove();
	 }
	 function createWechat(){
	 	return '<div class="row cl info-wechat"><label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>微信：</label><div class="formControls col-xs-4 col-sm-4"><input type="text" class="input-text"  placeholder="请输入微信" name="wechat[]" required></div><div class="formControls col-xs-4 col-sm-4"><input type="button" class="btn btn-primary radius" value="添加微信" onclick="addMoreWechat()" ></div></div>'
	 }
	 function createCard(){
	 	layer.msg('此功能暂时禁用');
//		i++;
//	 	var card =  '<div class="row cl info-wechat-new card-new">'+
//					'<label class="form-label col-xs-4 col-sm-3"></label>'+
//					'<div class="formControls col-xs-7 col-sm-8">'+
//						'<input type="text" class="input-text"  placeholder="微信号"  name="wechat['+i+'][num]" required="required" style="width: 20%;"> '+
//						'<input type="text" class="input-text"  placeholder="微信昵称"  name="wechat['+i+'][nick]" required="required" style=" width: 20%;"> '+
//						'<input type="text" class="input-text"  placeholder="银行卡号"  name="wechat['+i+'][card]" required="required" onkeyup="value=value.replace(/[^\\d]/g,\'\')"  style="width: 36%;" oninvalid="setCustomValidity(\'请输入银行卡号\');" oninput="setCustomValidity(\'\');">'+
//						' <input type="text" class="input-text"  placeholder="银行卡姓名" name="wechat['+i+'][username]" required="required" style="width: 20%;">'+
//					'</div>'+
//					'<div class="formControls col-xs-1 col-sm-1"><input type="button" class="btn btn-danger radius" value="删除" onclick="removeWechat(this)" ></div>'+
//				'</div>';
//		$(".card").after(card);
	 }
	function checkForm(){
		
		if($(".card").css('display') == 'block'){
			if(!$.trim($(".w-num").val())){
				layer.msg('请输入微信号');
				return false;
			}
			if(!$.trim($(".w-nickname").val())){
				layer.msg('请输入微信昵称');
				return false;
			}
			if(!$.trim($(".w-card").val())){
				layer.msg('请输入银行卡号');
				return false;
			}
			if(!$.trim($(".w-name").val())){
				layer.msg('请输入银行卡姓名');
				return false;
			}
		}else if($(".wechat").css('display') == 'block'){
			if(!$.trim($(".w-num-a").val())){
				layer.msg('请输入微信号');
				return false;
			}
		}
		if($(".select").val() == 6 && !$.trim($(".textarea").val())){
			layer.msg('请输入花名');
			return false;
		}
		return true;
	}
</script>

</block>