<extend name="public/modal" />
<block name="title">权限添加</block>
<block name="menu">
	<form action="{:U('role/authority')}" method="post" class="form form-horizontal" id="form-admin-role-add">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">角色名称：</label>
			<div class="formControls col-xs-6 col-sm-8">
				<input type="text" class="input-text" value="{$data.name}" placeholder="" id="name" name="name">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">角色权限：</label>
			<div class="formControls col-xs-8 col-sm-8">
			  <volist name="column[0]" id="vo">
				<dl class="permission-list" <eq name="vo.msg" value="1">style="display:none;"</eq>>
					<dt>
						<label> {$vo.name}</label>
					</dt>
					<dd>
					  <dl class="cl permission-list1">
					  		<dd>
					  		   <volist name="column[$vo['id']]" id="v">
					  		    <if condition="$v.msg eq 1">
					  		       <label class=""><input type="checkbox" value="{$v.id}" name="ids[]" checked> {$v.name}</label>
					  		     <else />
					   			   <label class=""><input type="checkbox" value="{$v.id}" name="ids[]" <in name="v.id" value="$data.status">checked</in>> {$v.name}</label>
					   			</if>
					  		   </volist>
					  		</dd>
					  </dl>
					</dd>
				</dl>
			 </volist>
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
			    <input type="hidden" name="id" value="{$data.id}">
				<button type="submit" class="btn btn-success radius" id="admin-role-save" name="admin-role-save"><i class="icon-ok"></i> 确定</button>
			</div>
		</div>
	</form>
</block>
<block name="js">
<script type="text/javascript">
	$(".permission-list dt input:checkbox").click(function(){
		$(this).closest("dl").find("dd input:checkbox").prop("checked",$(this).prop("checked"));
	});
	$(".permission-list1 dd input:checkbox").click(function(){
		var l =$(this).parent().parent().find("input:checked").length;
		var l2=$(this).parents(".permission-list").find(".permission-list2 dd").find("input:checked").length;
		if($(this).prop("checked")){
			$(this).closest("dl").find("dt input:checkbox").prop("checked",true);
			$(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked",true);
		}
		else{
			if(l==0){
				$(this).closest("dl").find("dt input:checkbox").prop("checked",false);
			}
			if(l2==0){
				$(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked",false);
			}
		}
	});

</script>
</block>