<extend name="public/base" />
<block name="nav">
	<span class="c-666">产品管理</span><span class="c-999 en">&gt;</span><span class="c-666">发布任务</span>
</block>
<block name="menu">
	<div class="Hui-article" style="position: absolute;">
		<article class="cl pd-20">
			<div class="page-container" style="padding-left: 60px;">
				<div class="row cl" style="color: red;">
					<label class="form-label fl text-r addp-label" >温馨提醒：</label>
					<div class="formControls fl">
						<p>1、每天12点前发布的任务，审核通过后当天上线；12点后发布的任务，审核通过后次日上线。</p>
						<p>2、每天10点至12点之间发布的任务，总份数不得大于50单。</p>
						<p>2、带*号的输入项为必填项。</p>
					</div>
				</div>
				<form action="{:U('product/addproductnew')}" method="post" class="form form-horizontal" id="addpronew"  enctype="multipart/form-data">
					<div class="form-con" style="width: 805px;min-width: 805px;">
						<div class="row cl">
							<label class="form-label fl addp-label"><span class="c-red">*</span>选择店铺</label>
							<div class="formControls fl" >
								<select name="shop_id" class="select select-box addp-select">
									<volist name="shop" id="vo">
										<option value="{$vo.id}" <?php if($data['shop_id'] == $vo['id']) echo'selected';?>  >{$vo.shopname}</option>
									</volist>
								</select>
							</div>
							<div class="formControls fl" style="margin-left: 10px;">
								<a href="javascript:;" onclick="bindShop()" class="btn btn-secondary radius"> 新增店铺</a>
							</div>
						</div>
						<div class="row cl">
							<label class="form-label fl addp-label"><span class="c-red">*</span>权重类目号&nbsp;<i class="icon Hui-iconfont Hui-iconfont-help" style="cursor: pointer;" onclick="showCategory()"></i></label>
							<div class="formControls fl" >
								<select name="category" class="select select-box addp-select">
									<option value="0" <?php if($data['category'] ==0 ) echo'selected';?>>女装/男装/内衣</option>
									<option value="1" <?php if($data['category'] ==1 ) echo'selected';?>>鞋装/箱包/配件</option>
									<option value="2" <?php if($data['category'] ==2 ) echo'selected';?>>童装玩具/孕产/用品</option>
									<option value="3" <?php if($data['category'] ==3 ) echo'selected';?>>家电/数码/手机</option>
									<option value="4" <?php if($data['category'] ==4 ) echo'selected';?>>美妆/洗护/保健品</option>
									<option value="5" <?php if($data['category'] ==5 ) echo'selected';?>>珠宝/眼镜/手表</option>
									<option value="6" <?php if($data['category'] ==6 ) echo'selected';?>>运动/户外/乐器</option>
									<option value="7" <?php if($data['category'] ==7 ) echo'selected';?>>游戏/动漫/影视</option>
									<option value="8" <?php if($data['category'] ==8 ) echo'selected';?>>美食/生鲜/零食</option>
									<option value="9" <?php if($data['category'] ==9 ) echo'selected';?>>鲜花/宠物/农资</option>
									<option value="10" <?php if($data['category'] ==10 ) echo'selected';?>>房产/装修/建材</option>
									<option value="11" <?php if($data['category'] ==11 ) echo'selected';?>>家具/家饰/家纺</option>
									<option value="12" <?php if($data['category'] ==12 ) echo'selected';?>>汽车/二手车/用品</option>
									<option value="13" <?php if($data['category'] ==13 ) echo'selected';?>>办公/DIY/五金电子</option>
									<option value="14" <?php if($data['category'] ==14 ) echo'selected';?>>百货/餐厨/家庭保健</option>
									<option value="15" <?php if($data['category'] ==15 ) echo'selected';?>>学习/卡券/本地服务</option>
								</select>
							</div>
							<div class="fr" style="margin-right: 15px;">
								<label class="form-label fl addp-label">标签词&nbsp;<i class="icon Hui-iconfont Hui-iconfont-help" style="cursor: pointer;" onclick="showTag()"></i></label>
								<div class="formControls fl" >
									<input type="text" class="input-text addp-select-input" name="label" autocomplete="new-password" value="{$data.label}" placeholder="选填"/>
								</div>
							</div>
						</div>
						<div class="row cl">
							<label class="form-label fl addp-label"><span class="c-red">*</span>商品标题</label>
							<div class="formControls fl">
								<input type="text" class="input-text addp-input" value="{$data.goods_title}" placeholder="商品在淘宝全标题" id=""  name="goods_title" required oninvalid="setCustomValidity('请输入商品标题');" oninput="setCustomValidity('');">
							</div>
						</div>
						<div class="row cl">
							<label class="form-label fl addp-label"><span class="c-red">*</span>商品链接</label>
							<div class="formControls fl">
								<input type="url" class="input-text addp-input" value="{$data.goods_url}" placeholder="需要补单商品链接，以http://或者https://开头" id="checkurl" name="goods_url" required oninvalid="setCustomValidity('请输入产品链接');" oninput="setCustomValidity('');">
							</div>
						</div>
						<div class="row cl">
							<label class="form-label addp-label fl"><span class="c-red">*</span>商品主图</label>
							<div class="formControls posi-rela fl">
								<div id="img_preview_one">
									<input type="hidden" name="goods_pic" id="img" value="{$data.goods_pic}">
									<input type="hidden" name="goods_thumb" id="thumb" required="" >
									<img src="{$data.goods_pic}" id="thumb-preview">
									<input class="file-input fileToUpload" type="file" name="fileToUpload" id="fileToUpload" onchange="uploadFile(this,'fileToUpload')" value="" style="width: 100%; height: 100%;">
								</div>
								<span style="position: absolute;bottom: 0;right: -135px;"><font color="red">（建议尺寸800 X 800）</font></span>
							</div>
						</div>

						<div class="row cl" style="min-width: 900px;">

							<div class="fl" style="margin-right: 15px;">
								<label class="form-label fl addp-label lift" style="margin-top: 0; line-height: 31px;">
									<!--<select name="" class="select select-box lift" style="width: 65px;">
										<option value="0" <?php if($data['empty_cost'] >0 ) echo'selected';?>>空包</option>
										<option value="1" <?php if($data['goods_zeng'] ) echo'selected';?>>赠品</option>
									</select>-->
									<input type="radio" name="isZeng" value="1" style="width: 16px; height: 16px;" <?php if($data['goods_zeng'] ) echo 'checked';?>/>赠品
									<input type="radio" name="isZeng" value="0" style="width: 16px; height: 16px;" <?php if($data['empty_cost'] >0 ) echo 'checked';?>/>空包
								</label>
								<div class="formControls fl k-bag">
									<if condition="$data.empty_cost  gt 0">
										<select name="empty_cost" class="select select-box addp-select">
											<option value="4" <?php if($data['empty_cost'] == 4) echo'selected';?>>任务金额100元内4元</option>
											<option value="5" <?php if($data['empty_cost'] == 5) echo'selected';?>>任务金额100-200元5元</option>
											<option value="6" <?php if($data['empty_cost'] == 6) echo'selected';?>>任务金额200-300元6元</option>
											<option value="8" <?php if($data['empty_cost'] == 8) echo'selected';?>>任务金额300-400元8元</option>
											<option value="10" <?php if($data['empty_cost'] == 10) echo'selected';?>>任务金额400以上10元</option>
											</select>


										<else />
									<input type="text" class="input-text addp-select-input" name="goods_zeng" placeholder="建议赠送抽纸或卷纸" value="{$data.goods_zeng}" required oninvalid="setCustomValidity('请输入赠品名称');" oninput="setCustomValidity('');" />
									<font color="red">（提示：禁止赠送有争议的产品，比如易碎、易破、产品质量超级垃圾等。）</font>
									</if>
								</div>

							</div>
						</div>
						<div class="row cl">
							<label class="form-label fl addp-label">商家子账户</label>
							<div class="formControls fl" >
								<input type="text" class="input-text addp-select-input" name="childacc" autocomplete="off" value="{$data.childacc}" placeholder="选填"/>
							</div>
							<div class="fr" style="margin-right: 15px;">
								<label class="form-label fl addp-label">子账户密码</label>
								<div class="formControls fl" >
									<input type="password" class="input-text addp-select-input" name="childacc_pass" autocomplete="new-password" value="{$data.childacc_pass}" placeholder="选填"/>
								</div>
							</div>
						</div>
						<volist name="info" id="vo">

						<div class="back-new">
							<if condition="$key gt 0">
								<div class="close-keyword" onclick="removekey(this)"></div>

							</if>
							<div class="row cl">
								<label class="form-label fl addp-label"><span class="c-red">*</span>搜索关键词</label>
								<div class="formControls fl">
									<input type="text" name="k[{$key}]" value="{$vo.k}" class="input-text addp-select-input" required oninvalid="setCustomValidity('请输入搜索关键词');" oninput="setCustomValidity('');"/>
								</div>
								<div class="fr good-num" style="margin-right: 40px;">
									<label class="form-label fl addp-label" style="width: 56px;"><span class="c-red">*</span>份数</label>
									<div class="formControls fl">
										<input type="number" step="1" min="1" value="{$vo.n}" name="n[{$key}]" class="input-text addp-select-input num-input" style="width: 80px;" required oninvalid="setCustomValidity('请输入份数');" oninput="setCustomValidity('');" onfocusout="calCost(this)"/>
									</div>
								</div>
								<div class="fr good-price">
									<label class="form-label fl addp-label" style="width: 110px;"><span class="c-red">*</span>下单实际价格&nbsp;<i class="icon Hui-iconfont Hui-iconfont-help" style="cursor: pointer;" onclick="showPrice()"></i></label>
									<div class="formControls fl">
										<input type="text" value="{$vo.p}" name="p[{$key}]"  class="input-text addp-select-input price-input" style="width: 104px;" pattern="^(([1-9][0-9]*)|(([0]\.\d{1,2}|[1-9][0-9]*\.\d{1,2})))$" required oninvalid="setCustomValidity('请输入下单价,最多两位小数');" oninput="setCustomValidity('');" onfocusout="calCost(this)"/>
									</div>
								</div>
							</div>
							<div class="row cl">
								<label class="form-label fl addp-label">附属服务</label>
								<div class="fl service-all" style="width: 700px;">
									<div class="formControls fl">
										<span class="service service-m <?php if(in_array('需要聊天',$vo['s'])  ) { echo'selected';} else {echo 'unselect';}?>">
											<span class="ser-text text-c">需要聊天</span>
											<input type="checkbox" class="ser-item" name="s[{$key}][]" value="需要聊天"  <?php if(in_array('需要聊天',$vo['s'])  ) echo'checked';?>/>
										</span>
									</div>
									<div class="formControls fl">
										<span class="service service-m <?php if(in_array('货比三家',$vo['s'])  ) echo'selected'; else echo 'unselect';?>">
											<span class="ser-text text-c">货比三家</span>
											<input type="checkbox" class="ser-item" name="s[{$key}][]" value="货比三家"  <?php if(in_array('货比三家',$vo['s'])  ) echo'checked';?>/>
										</span>
									</div>
									<div class="formControls fl">
										<span class="service service-m <?php if(in_array('加购物车',$vo['s'])  ) echo'selected'; else echo 'unselect';?>">
											<span class="ser-text text-c">加购物车</span>
											<input type="checkbox" class="ser-item" name="s[{$key}][]" value="加购物车"  <?php if(in_array('加购物车',$vo['s'])  ) echo'checked';?>/>
										</span>
									</div>
									<div class="formControls fl">
										<span class="service service-m <?php if(in_array('收藏宝贝',$vo['s'])  ) echo'selected'; else echo 'unselect';?>">
											<span class="ser-text text-c">收藏宝贝</span>
											<input type="checkbox" class="ser-item" name="s[{$key}][]" value="收藏宝贝"  <?php if(in_array('收藏宝贝',$vo['s'])  ) echo'checked';?>/>
										</span>
									</div>
									<div class="formControls fl">
										<span class="service service-m <?php if(in_array('关注店铺',$vo['s'])  ) echo'selected'; else echo 'unselect';?>">
											<span class="ser-text text-c">关注店铺</span>
											<input type="checkbox" class="ser-item" name="s[{$key}][]" value="关注店铺" <?php if(in_array('关注店铺',$vo['s'])  ) echo'checked';?> />
										</span>
									</div>
									<div class="formControls fl">
										<span class="service service-l <?php if(in_array('浏览店内两个宝贝以上',$vo['s'])  ) echo'selected'; else echo 'unselect';?>">
											<span class="ser-text text-c">浏览店内两个宝贝以上</span>
											<input type="checkbox" class="ser-item" name="s[{$key}][]" value="浏览店内两个宝贝以上"  <?php if(in_array('浏览店内两个宝贝以上',$vo['s'])  ) echo'checked';?>/>
										</span>
									</div>
									<div class="formControls fl">
										<span class="service service-l <?php if(in_array('浏览详情到底5分钟以上',$vo['s'])  ) echo'selected'; else echo 'unselect';?>">
											<span class="ser-text text-c">浏览详情到底5分钟以上</span>
											<input type="checkbox" class="ser-item" name="s[{$key}][]" value="浏览详情到底5分钟以上" <?php if(in_array('浏览详情到底5分钟以上',$vo['s'])  ) echo'checked';?> />
										</span>
									</div>
								</div>

							</div>
							<div class="row cl">
								<label class="form-label fl addp-label">其他要求</label>
								<div class="formControls fl">
									<input type="text" class="input-text addp-input" name="order[{$key}]" value="{$vo.order}"  placeholder="备注" />
								</div>
							</div>
							<div class="row cl cost-tip">
								<label class="form-label fl addp-label"></label>
								<div class="formControls fl">
									<span class="tip"><font color="red">本金：{$vo['p'] * $vo['n']}元，服务费：{$vo.cost}元</font></span>
								</div>
							</div>
						</div>
						</volist>
					</div>
					<div class="row cl" style="margin-top: 20px;">
							<label class="form-label fl addp-label"></label>
							<div class="formControls ">
								<button class="btn btn-success radius" type="button" onclick="addkeywords()">添加关键词</button>
							</div>
						</div>
						<div class="row cl" style="margin-top: 20px;">
							<label class="form-label fl addp-label"></label>
							<div>
								<button  class="btn btn-secondary radius" type="submit" id="btn" style="height: 40px;"><i class="Hui-iconfont">&#xe632;</i> 提交任务</button>
							</div>
						</div>
				</form>
			</div>
		</article>
	</div>
</block>
<block name="js">
	<script src="__PUBLIC__/ajaxfileupload.js"></script>
	<script type="text/javascript">
		var i={$i} , picUrl = "{:U('Product/ajaxUpload')}",url2="{:U('Product/checkstatus')}",isFile = true;
		function showCategory(){
//			layer.open({
//			  type: 1,
//			  title:'提示',
//			  area: ['420px', '240px'], //宽高
//			  content: 'xxx'
//			});
			layer.alert('每个买家号通过日积月累的消费习惯和浏览习惯产生的高权重类目标签，此标签是淘宝系统分配的，我们的号通过查号接口已经得到用户权重类目并且已经分配好。', function(index){
			  layer.close(index);
			});
		}
		function showTag(){
			layer.alert('标签词：一个产品的标示代表产品的身份的词句。它有时会是产品的品牌名，产品的成分，或者产品的独特个性！', function(index){
			  layer.close(index);
			});
		}
		function showPrice(){
			layer.alert('提示：下单金额需与淘宝最终购买价一致', function(index){
			  layer.close(index);
			});
		}
	</script>
	<script src="__PUBLIC__/ERP/lib/custom/addnew.js" type="text/javascript" charset="utf-8"></script>

</block>