
	<include file="Layout:head" />
	<include file="Layout:nav" />
	<style type="text/css">
		.contant {width: 100%;margin: 0 auto;padding: 15px 0;min-height: 100px;height: auto !important;}
		.about_main {border: 1px solid #dadada;width: 960px;margin: 0 auto; background: #fff;min-height: 200px;height: auto !important;}
		.about_top {border-bottom: 2px solid #d82c2c;height: 60px;line-height: 60px;color: #3c3d45;font-size: 16px;font-weight: bold;padding-left: 20px;}
		.about_p {width: 870px;margin: 60px auto 0 auto;color: #6c6c6c;line-height: 30px;font-size: 13px;}
		.as_pl {margin-top: -26px;margin-right: 240px;}
		.about_left {width: 208px;float: left;line-height: 20px;}
		.about_left h2 {color: #f25f55; font-size: 20px; font-weight: bold; margin-bottom: 5px;width: 100px;float: left;}
		.about_right { float: left; margin-left: 48px; line-height: 20px;}
		.about_right h2 {color: #4fafe1; font-size: 20px;font-weight: bold; margin-bottom: 5px;width: 100px;float: left;}
		.about-DBQQ {float: left;color: #E84C3D;font-weight: bold;width: 834px;margin-bottom: 22px;}
		
	</style>


<!--                        联系我们  start                   -->
 <div class="contant">
        <div class="clearfix about_main">
            <div class="about_top">
                联系我们
            </div>
            <!--about_top-->
            <div class="about_p">
                <div align="center" class="as_pl">
                    <img src="__PUBLIC__/maoke/images/zixun.png" />
                </div>
                <div class="clearfix marginLeft-27">
                        <div class="about_pone">

                            <div class="about_left">
                                <h2>用户客服：</h2>
                                <a target="_blank" href="http://q.url.cn/cdyRVJ?_type=wpa&qidian=true">
                                    <img border="0" src="__PUBLIC__/maoke/images/swhz/img_07.gif" alt="点击这里给我发消息" title="点击这里给我发消息" />
                                </a>
                                <div style="color: #000000; font-family: 微软雅黑; font-weight: normal;" id="copyU">（QQ：<span  value="800836536">800836536</span>）
                                	<input type="button" data="0"  name="copy" value="复制QQ" onclick="copy1()">
                                	<input type="hidden" class="qq" value="800836536"/>
                                </div>
                            </div>
                            <div class="about_right">
                                <h2>商家咨询：</h2>
                                <a target="_blank" href="http://q.url.cn/cdyRVJ?_type=wpa&qidian=true">
                                    <img border="0" src="__PUBLIC__/maoke/images/swhz/img_07.gif" alt="点击这里给我发消息" title="点击这里给我发消息" />
                                </a>
                                <div style="color: #000000; font-family: 微软雅黑; font-weight: normal;" id="copyB">（QQ：<span  value="800836536">800836536</span>）
                                	<input type="button" data="1"  name="copy" value="复制QQ" onclick="copy2()"/>
                                	<input type="hidden" class="qq" value="800836536"/>
                                </div>
                                	
                            </div>
                        </div>
                    <div class="about-DBQQ">
                        <span style="color: #000000; font-family: 微软雅黑; font-weight: normal;">用户咨询热线：027-87370898<span style="margin-left: 100px;">商家咨询热线：027-87370898</span></span><br>
                        <span style="color: #000000; font-family: 微软雅黑; font-weight: normal;">工作时间：周一至周六，上午8:30至下午17:30（法定节假日除外）</span><br>
                        <span style="color: #000000; font-family: 微软雅黑; font-weight: normal;">如果您对我们的网站、服务有任何疑问或建议，请随时联系我们，我们将竭诚为您服务！</span>
                    </div>
                </div>
                <div>
                    <!--<img src="__PUBLIC__/maoke/images/xian.jpg" />-->
                </div>
                <!--as_pl-->
                <span style="color: #506a89; font-family: 微软雅黑; font-size: 14px; font-weight: bold;">关于我们</span><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #6c6c6c; font-family: 微软雅黑; font-weight: normal;">领吧网是一家专注于试用服务，集合用户营销、活动营销、口碑营销、商品营销为一体的营销导购平台。领吧秉承“打造最佳的产品试用平台”的理念，为广大的领吧用户提供最高性价比的试用商品，以评价换取免费商品。</span>
                <br />
                <em class="air_two">&nbsp;</em><span style="color: #6c6c6c; font-family: 微软雅黑; font-weight: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;领吧网聚集了大量的淘宝优质用户，通过免费试用活动帮助商家打开知名度，为商品打开销路，同时为商家挖掘潜在消费者，为数百万商家提升了品牌价值与影响力。领吧搭建了卖家与消费者之间相互了解的桥梁，让消费者在低成本试用的情况下，体验商品的质量和服务，并公正客观的提交商品体验报告。同时，领吧网鼓励消费者更加客观和细致的评价，通过试用过程的展示，体验报告的传播，为卖家提供更优质的营销传播。</span>
                <br />
                <br />

            </div>
            <!--about_p-->
            <!-- WPA Button Begin -->
            
            <!-- WPA Button End -->
        </div>
        <!--about_main-->
    </div>
    <!--contant-->


<!--                        联系我们  end                   -->


<script type="text/javascript">
	
	function copy1() {

       $("#copyU").append("<input type='text' style='opacity: 1;' id='content' value='"+$("#copyU>.qq").val()+"'>");
       //为了兼容iphone不能直接使用select()选中对象
       var NumClip=document.getElementById('content');
       var NValue=NumClip.value;
       var valueLength = NValue.length;
       selectText(NumClip, 0, valueLength);
     var sta= document.execCommand('Copy',"false",null);

        if (sta==true){
            alert("复制成功！");
            $("#content").remove();
        }
   }
	function copy2() {

       $("#copyB").append("<input type='text' style='opacity: 1;' id='content' value='"+$("#copyB>.qq").val()+"'>");
       //为了兼容iphone不能直接使用select()选中对象
       var NumClip=document.getElementById('content');
       var NValue=NumClip.value;
       var valueLength = NValue.length;
       selectText(NumClip, 0, valueLength);
     var sta= document.execCommand('Copy',"false",null);

        if (sta==true){
            alert("复制成功！");
            $("#content").remove();
        }
   }
	function selectText(obj, startIndex, stopIndex) {
	    if (obj.setSelectionRange) {
	        obj.setSelectionRange(startIndex, stopIndex);
	    } else if (obj.createTextRange) {
	        var range = obj.createTextRange();
	        range.collapse(true);
	        range.moveStart('character', startIndex);
	        range.moveEnd('character', stopIndex - startIndex);
	        range.select();
	    }
	    obj.focus();
	}
</script>
<include file="Layout:foot" />
