
	<include file="Layout:head" />
	<include file="Layout:nav" />

<!--                        试用流程  start                   -->
<div class="shiyong-lc">
	<p class="lc-title">试用流程</p>
	<ul>
		<li>
			<div class="lc-con">
				<p><i>1</i>扫描下方二维码 , 关注<span>领吧微信公众号</span>操作更方便哦</p>
				<div class="lc-img">
					<img src="__PUBLIC__/maoke/images/erweima.jpg" width="200px"/>
				</div>
			</div>
		</li>
		<li>
			<div class="lc-con">
				<p><i>2</i>点击下方 "<span>关注</span>" 按钮——关注成功之后 , 点击 "<span>免费领</span>" 即可进入领吧首页</p>
				<div class="lc-img">
					<img src="__PUBLIC__/maoke/images/newman/img_06.png" />
					<img src="__PUBLIC__/maoke/images/newman/img_46.png" class="img-mr25"/>
					<img src="__PUBLIC__/maoke/images/newman/img_08.png"/>
				</div>
			</div>
		</li>
		<li>
			<div class="lc-con">
				<p><i>3</i>进入首页后找到你喜欢的宝贝 ,点击下方 "<span>免费申请</span>" ——进入产品 详情页点击 "<span>免费申请</span>"</p>
				<div class="lc-img">
					<img src="__PUBLIC__/maoke/images/newman/img_12.png" />
					<img src="__PUBLIC__/maoke/images/newman/img_46.png" class="img-mr25"/>
					<img src="__PUBLIC__/maoke/images/newman/img_13.png"/>
				</div>
			</div>
		</li>
		<li>
			<div class="lc-con">
				<p><i>4</i>绑定下单账户 : 正确填写弹窗上的信息 "<span>淘宝会员名、QQ号</span>" , 上传 "<span>我的淘宝截图</span>" ——提交成功后 ,点击 "<span>审核状态</span>" , 即可查看审核进度</p>
				<div class="lc-img">
					<img src="__PUBLIC__/maoke/images/newman/img_17.png" />
					<img src="__PUBLIC__/maoke/images/newman/img_46.png" class="img-mr25"/>
					<img src="__PUBLIC__/maoke/images/newman/img_18.png" />
					<img src="__PUBLIC__/maoke/images/newman/img_46.png" class="img-mr25"/>
					<img src="__PUBLIC__/maoke/images/newman/img_20.png"/>
				</div>
			</div>
		</li>
		<li>
			<div class="lc-con">
				<p><i>5</i>审核通过后领吧公众号将会实时为你推送通知 , 点击 "<span>详情</span>" 即可查看审核状态——点击 "<span>继续试用</span>" 进行下一步骤——点击 "<span>下单流程</span>" 查看试用任务流程</p>
				<div class="lc-img">
					<img src="__PUBLIC__/maoke/images/newman/img_25.png" />
					<img src="__PUBLIC__/maoke/images/newman/img_46.png" class="img-mr25"/>
					<img src="__PUBLIC__/maoke/images/newman/img_26.png" />
					<img src="__PUBLIC__/maoke/images/newman/img_46.png" class="img-mr25"/>
					<img src="__PUBLIC__/maoke/images/newman/img_27.png"/>
				</div>
			</div>
		</li>
		<li>
			<div class="lc-con">
				<p><i>6</i>查看下单要求 , 按照要求进行操作 , 完成后点击  "<span>确定已完成</span>" ——在弹窗中填写刚才完成的"<span>淘宝订单编号</span>" 点击 "<span>提交保存</span>" 提交完成后等待商家审核就可以了哦</p>
				<div class="lc-img">
					<img src="__PUBLIC__/maoke/images/newman/img_31.png" />
					<img src="__PUBLIC__/maoke/images/newman/img_46.png" class="img-mr25"/>
					<img src="__PUBLIC__/maoke/images/newman/img_32.png" />
					<img src="__PUBLIC__/maoke/images/newman/img_46.png" class="img-mr25"/>
					<img src="__PUBLIC__/maoke/images/newman/img_33.png"/>
				</div>
			</div>
		</li>
		<li>
			<div class="lc-con">
				<p style=""><i>7</i>审核通过后在  "<span>待返款</span>" 中点击 "<span>上传评论截图</span>" ——选择要上传的文件点击 "<span>提交</span>" ——提交后可以 "<span>查看晒图</span>" , 如果上传错了还可以点击 "<span>修改评论截图</span>" 进行修</p>
				<p style="padding-left: 50px;">改哦</p>
				<div class="lc-img">
					<img src="__PUBLIC__/maoke/images/newman/img_37.png" />
					<img src="__PUBLIC__/maoke/images/newman/img_46.png" class="img-mr25"/>
					<img src="__PUBLIC__/maoke/images/newman/img_38.png" />
					<img src="__PUBLIC__/maoke/images/newman/img_46.png" class="img-mr25"/>
					<img src="__PUBLIC__/maoke/images/newman/img_39.png"/>
				</div>
			</div>
		</li>
		<li>
			<div class="lc-con">
				<p><i>8</i>审核通过后在 "<span>已完成</span>" 可查看状态 , 此时您的预付款已经回到您的原账户了哦 ——点击下方 "<span>我的试客</span>" 即可查看 "<span>余额</span>"</p>
				<div class="lc-img">
					<img src="__PUBLIC__/maoke/images/newman/img_43.png" />
					<img src="__PUBLIC__/maoke/images/newman/img_46.png" class="img-mr25"/>
					<img src="__PUBLIC__/maoke/images/newman/img_44.png" />
				</div>
			</div>
		</li>
	</ul>
</div>
<!--                        试用流程  end                   -->



<script src="__PUBLIC__/maoke/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="__PUBLIC__/maoke/js/jquery.lazyload.js" type="text/javascript" charset="utf-8"></script>


<include file="Layout:foot" />