
	<include file="Layout:head" />
	<include file="Layout:nav" />
	<style type="text/css">
		.merch_top{ width: 965px; height: 161px;margin: 30px auto 0 auto}
		.merch_top h2{ height: 24px; background-image: url(Public/maoke/images/swhz/img_03.gif); background-position: 0 4px;
		    background-repeat: no-repeat; font-size: 18px;color: #3c3d45}
		.merch_top_a{ height: 1px; background-color: #f2655b;margin-top: 5px}
		.merch_top p{ font-size: 14px; color: #333333; margin-bottom: 10px;  margin-left: 30px;}
		.merch_top p a{ display: inline-block; vertical-align: middle;}
		.merch_center{width: 965px; margin: 20px auto 0 auto}
		.merch_center h2{height: 24px; background-image: url(Public/maoke/images/swhz/img_10.gif); background-position: 0 4px;
		    background-repeat: no-repeat; font-size: 18px;color: #3c3d45}
		.head_a{  font-size: 14px;width: 965px;margin: 0 auto; color: #666666; border-left: 1px solid #e0e0e0;
		    border-bottom: 1px solid #e0e0e0; border-right: 1px solid #e0e0e0}
		.head_b{  color: #fff;background: #f25f55;}
		.head_a td{ padding: 13px;}
		.merch_bottom{width: 965px; margin: 40px auto 0 auto}
		.merch_bottom h2{height: 24px; background-image: url(Public/maoke/images/swhz/img_13.gif); background-position: 0 4px;
		    background-repeat: no-repeat; font-size: 18px;color: #3c3d45}
		.merch_bottom_a{ height: 18px;background-image: url(Public/maoke/images/swhz/xiant_beoj.jpg);}
		.merch_bottom_biaot{ width: 110px; height: 18px; background-color: #ffffff; color: #666666; font-size: 18px;line-height: 17px;}
		.merch_bottom_biaohong{ width: 3px; height: 16px; background-color: #f66565; float: left;  margin-right: 8px;}
		.merch_bottom_b{ width: 980px; height: 687px;margin: 20px auto 0 auto}
		.merch_bottom_b img{float: left}
		.merch_bottom_b p{ font-size: 14px;color: #a3a3a3}
		.merch_bottom_c{ width: 265px; height: 642px; float: left;margin-left: 25px;}
		.bottom_b_a{ height: 390px;}
		.bottom_c_a{height: 390px;}
		.bottom_b_b{ height: 75px;}
		.bottom_c_b{ height: 75px;}
	</style>

	
	

<!--                        商务合作  start                   -->
<div class="merch_top">
    <h2 >
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;联系我们
    </h2>
    <div class="merch_top_a"></div>
    <p style="margin-top: 20px">咨询QQ：<em style="color: #808080">800836536</em></p>
    <p>咨询邮箱：<em style="color: #808080">shang@ling8.com</em></p>
    <p>在线咨询：
         <a href="" target="_blank"><img src="__PUBLIC__/maoke/images/swhz/img_07.gif" /></a>
        <a href="" target="_blank"><img src="__PUBLIC__/maoke/images/swhz/img_07.gif" /></a>
        <a href="" target="_blank"><img src="__PUBLIC__/maoke/images/swhz/img_07.gif" /></a>
    </p>
    <p>咨询时间：<em style="color: #808080">周一至周六，上午8:30至下午17:30（法定节假日除外）</em></p>      
</div>
<div class="merch_center">
    <h2 >
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;报价表格
    </h2>
    <div class="merch_top_a"style="margin-bottom: 20px;"></div>
    <table class="head_a">
        <tbody>
            <tr class="head_b">
                <td width="30" style="font-size: 16px"></td>
                <td width="255" style="font-size: 16px">广告形式</td>
                <td width="138" style="font-size: 16px">位置</td>
                <td width="339" style="font-size: 16px">尺寸（像素）</td>
                <td width="167" style="font-size: 16px">价格（元）</td>
                <td width="29" style="font-size: 16px"></td>
            </tr>
            <tr>
                <td width="30" style="font-size: 14px"></td>
                <td width="255" style="font-size: 14px; border-bottom: 1px solid #e0e0e0">伸缩广告</td>
                <td width="138" style="font-size: 14px; border-bottom: 1px solid #e0e0e0">首页</td>
                <td width="339" style="font-size: 14px; border-bottom: 1px solid #e0e0e0">
                    展开尺寸：1920*300     缩小后尺寸：1920*75
                    核心展示图片区展开尺寸：1230*300<br />
                    核心展示图片区域缩小尺寸：1230*75<br />
                </td>
                <td width="167" style="font-size: 14px; border-bottom: 1px solid #e0e0e0">50000/月/个</td>
                <td width="29" style="font-size: 14px"></td>
            </tr>   
            <tr>
                <td width="30" style="font-size: 14px"></td>
                <td width="255" style="font-size: 14px; border-bottom: 1px solid #e0e0e0">轮播焦点图片1-4屏</td>
                <td width="138" style="font-size: 14px; border-bottom: 1px solid #e0e0e0">首页</td>
                <td width="339" style="font-size: 14px; border-bottom: 1px solid #e0e0e0">
                    740*250
                </td>
                <td width="167" style="font-size: 14px; border-bottom: 1px solid #e0e0e0">20000-30000/月/个</td>
                <td width="29" style="font-size: 14px"></td>
            </tr>
            <tr>
                <td width="30" style="font-size: 14px"></td>
                <td width="255" style="font-size: 14px; border-bottom: 1px solid #e0e0e0">重点推荐(左、右、中钻石展位)</td>
                <td width="138" style="font-size: 14px; border-bottom: 1px solid #e0e0e0">首页</td>
                <td width="339" style="font-size: 14px; border-bottom: 1px solid #e0e0e0">
                    246*116
                </td>
                <td width="167" style="font-size: 14px; border-bottom: 1px solid #e0e0e0">20000-25000/月/个</td>
                <td width="29" style="font-size: 14px"></td>
            </tr>
            <tr>
                <td width="30" style="font-size: 14px"></td>
                <td width="255" style="font-size: 14px; border-bottom: 1px solid #e0e0e0">轮播焦点图1-4屏</td>
                <td width="138" style="font-size: 14px; border-bottom: 1px solid #e0e0e0">试用专区</td>
                <td width="339" style="font-size: 14px; border-bottom: 1px solid #e0e0e0">
                    全图尺寸：1920*386<br />
                    核心部分尺寸：836*386
                </td>
                <td width="167" style="font-size: 14px; border-bottom: 1px solid #e0e0e0">15000/月/个</td>
                <td width="29" style="font-size: 14px"></td>
            </tr>
            <tr>
                <td width="30" style="font-size: 14px"></td>
                <td width="255" style="font-size: 14px; border-bottom: 1px solid #e0e0e0">试用专区通栏</td>
                <td width="138" style="font-size: 14px; border-bottom: 1px solid #e0e0e0">试用专区</td>
                <td width="339" style="font-size: 14px; border-bottom: 1px solid #e0e0e0">
                    1190*100
                </td>
                <td width="167" style="font-size: 14px; border-bottom: 1px solid #e0e0e0">10000/月/个</td>
                <td width="29" style="font-size: 14px"></td>
            </tr>
            <tr>
                <td width="30" style="font-size: 14px"></td>
                <td width="255" style="font-size: 14px; border-bottom: 1px solid #e0e0e0">轮播广告</td>
                <td width="138" style="font-size: 14px; border-bottom: 1px solid #e0e0e0">APP首页</td>
                <td width="339" style="font-size: 14px; border-bottom: 1px solid #e0e0e0">
                    640*200
                </td>
                <td width="167" style="font-size: 14px; border-bottom: 1px solid #e0e0e0">20000-30000/月/个</td>
                <td width="29" style="font-size: 14px"></td>
            </tr>
            <tr>
                <td width="30" style="font-size: 14px"></td>
                <td width="255" style="font-size: 14px; ">
                    首页伸缩+试用专区轮播+<br />
                    APP首页轮播+APP用户推送
                </td>
                <td width="138" style="font-size: 14px;">套餐</td>
                <td width="339" style="font-size: 14px; ">
                </td>
                <td width="167" style="font-size: 14px; ">100000/月/个</td>
                <td width="29" style="font-size: 14px"></td>
            </tr>
     
        </tbody>
    </table>
    
</div>
<div class="merch_bottom">
    <h2 >
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;广告标示
    </h2>
    <div class="merch_top_a"style="margin-bottom: 30px;"></div>
    <div class="merch_bottom_a">
        <div class="merch_bottom_biaot">
            <div class="merch_bottom_biaohong"></div>      
            PC端标示
        </div>            
    </div>
    <div class="merch_bottom_b">      
        <img src="__PUBLIC__/maoke/images/swhz/img_16.gif" />
        <div class="merch_bottom_c">
            <p style="font-size: 20px; font-weight: bold; color: #666666; margin-top: 13px;">
                伸缩广告 <em style="color: #f25f55">▪ 5万元/月</em>
            </p>
            <p>展开尺寸：1920*300</p>
            <p>收缩尺寸：1920*75</p>
            <p style="font-size: 20px; font-weight: bold; color: #666666; margin-top: 87px; ">
                轮播焦点图 <em style="color: #f25f55">▪ 2~3万元/月</em>
            </p>
            <p>(1~4屏) </p>
            <p>尺寸：740*250</p>
            <p style="font-size: 20px; font-weight: bold; color: #666666; margin-top: 30px;">
                钻石展位 <em style="color: #f25f55">▪ 2~2.5万元/月</em>
            </p>
            <p>(左/中/右)</p>
            <p>尺寸：246*116</p>
            <p style="font-size: 20px; font-weight: bold; color: #666666; margin-top: 75px; ">
                轮播焦点图 <em style="color: #f25f55">▪ 1.5万元/月</em>
            </p>
            <p>全部尺寸：1920*386</p>
            <p>核心尺寸：836*386</p>
            <p style="font-size: 20px; font-weight: bold; color: #666666; margin-top: 157px; ">
                试用专区通栏 <em style="color: #f25f55">▪ 1万元/月</em>
            </p>
            <p>尺寸：1190*100</p>
            
        </div>
    </div>
</div>
<div class="merch_bottom">
    <div class="merch_top_a"style="margin-bottom: 30px;"></div>
    <div class="merch_bottom_a">
        <div class="merch_bottom_biaot">
            <div class="merch_bottom_biaohong"></div>      
            APP端标示
        </div>            
    </div>
    <div class="merch_bottom_b bottom_b_a">              
        <img src="__PUBLIC__/maoke/images/swhz/img_19.gif" />
        <div class="merch_bottom_c bottom_c_a">
            <p style="font-size: 20px; font-weight: bold; color: #666666; margin-top: 240px;">
                APP轮播广告<em style="color: #f25f55">▪ 1万元/月</em>
            </p>
            <p>尺寸：640*200</p>
        </div>
    </div>
</div>
<div class="merch_bottom" style="margin-bottom: 100px;">
    <div class="merch_top_a"style="margin-bottom: 30px;"></div>
    <div class="merch_bottom_a">
        <div class="merch_bottom_biaot">
            <div class="merch_bottom_biaohong"></div>      
            套餐组合
        </div>            
    </div>
    <div class="merch_bottom_b bottom_b_b">                     
        <img src="__PUBLIC__/maoke/images/swhz/tc_zh.jpg" />
        <div class="merch_bottom_c bottom_c_b">
            <p style="font-size: 20px; font-weight: bold; color: #666666; margin-top: 24px;">
                高效套餐组合<em style="color: #f25f55">▪ 10万元/月</em>
            </p>
        </div>
    </div>
</div>

<!--                        商务合作  end                   -->


<include file="Layout:foot" />