
	<include file="Layout:head" />
	<include file="Layout:nav" />
<div class="content" style="padding: 10px 0; height: auto;">
	<div class="clearfix main" style="width: 1070px;">
		<div class="mian_her">
			<a href="{:U('Index/index')}" target="_blank">首页</a><span>></span>
			<a href="{:U('Index/helpuser')}" target="_self">帮助中心</a>
		</div>
		<div class="mian_left clearfix">
			<div class="mi_ler">
				<a id="user" href="{:U('Index/helpuser')}" class="seled" >用户中心</a>
				<a id="merchant" href="javascript:void(0)" style="border-left: 1px solid #dcdcdc;">商家中心</a>
			</div>
			<!--mi_ler-->
			<div class="left_tpa">
				<strong>用户登录与注册</strong>
			</div>
			<!--left_tp-->
			<div class="left_ree">
				<ul>
					<li>
						<a id="registered" href="javascript:void(0)" target="_self">如何注册</a>
					</li>
					<li>
						<a id="login" href="javascript:void(0)" target="_self" class="rtf">如何登录</a>
					</li>
				</ul>
			</div>
			<!--left_re-->
			<div class="left_tpa">
				<strong>试用教程</strong>
			</div>
			<!--left_tp-->
			<div class="left_ree">
				<ul>
					<li>
						<a id="apply_trial" href="javascript:void(0)" target="_self">如何申请试用商品</a>
					</li>
					<li>
						<a id="trial_included" href="javascript:void(0)" target="_self">如何获得试用担保金</a>
					</li>
				</ul>
			</div>
			<!--left_re-->
			<div class="left_tpa">
				<strong>试用流程说明</strong>
			</div>
			<!--left_tp-->
			<div class="left_ree">
				<ul>
					<li>
						<a id="lean_trial" href="javascript:void(0)" target="_self">了解试用</a>
					</li>
					<li>
						<a id="trial_condition" href="javascript:void(0)" target="_self">参与试用的条件</a>
					</li>
					<li>
						<a id="gold_coins" href="javascript:void(0)"  target="_self">如何获取金币</a>
					</li>
					<li>
						<a id="trial_order" href="javascript:void(0)"  target="_self">如何搜索试用下单</a>
					</li>
					<li>
						<a id="look_trial" href="javascript:void(0)"  target="_self">如何查看我的试用情况</a>
					</li>
					<li>
						<a id="trial_report" href="javascript:void(0)"  target="_self">如何填写我的试用报告</a>
					</li>
					<li>
						<a id="trial_report" href="javascript:void(0)"  target="_self">精华报告批判规则</a>
					</li>
					<li>
						<a id="trial_report" href="javascript:void(0)"  target="_self">关于劣质报告的相关说明</a>
					</li>
					<li>
						<a id="trial_report" href="javascript:void(0)" target="_self">如何提取活动分享链接</a>
					</li>
				</ul>
			</div>
			<!--left_re-->
			<div class="left_tps" style="border-bottom: none;">
				<a id="trial_rules" href="javascript:void(0)"  target="_self"><strong>领吧试用规则</strong></a>
			</div>
			<div class="left_tps" style="border-bottom: none;">
				<a id="vip_user" href="javascript:void(0)"  target="_self"><strong>VIP会员服务协议</strong></a>
			</div>
		</div>
		<!--<div class="imgloli" id="abc">
			<a href="/Regist/about" target="_blank"><img src="/Content/images/youyiwen.png" /></a>
			<a href="#" class="fork" onclick="$('#abc').hide();">ｘ</a>
		</div>-->
		<!--mian_left-->
		<div class="mian_right">
			<div class="clearfix zhu_ces">
				<div class="rh_z">
					如何登录
				</div>
				<!--rh_z-->
			
				<div class="rt_yhd" style="margin-top: 6px;">
					<div class="yh_vb" style="margin-bottom: 12px;">
						<span>第一步：在领吧服务中心微信公众号首页右下角店家【我的领吧】</span>
					</div>
					<!--yh_vb-->
					<div>
						<img src="Public/maoke/images/help/login1.png" style="margin-left: 30px;">
					</div>
					<div class="yh_vb" style="margin-top: 3px; margin-bottom: 6px;">
						<span>第二步：选择快捷方式中的【QQ】或者【微信】, 就登录成功啦~</span>
					</div>
					<!--yh_vb-->
					<div>
						<img src="Public/maoke/images/help/login2.png" style="margin-left: 30px;">
					</div>
				</div>
				<!--rt_yhd-->
			</div>
		</div>
		<!--mian_right-->
	</div>
		<!--main-->
</div>
<script src="__PUBLIC__/maoke/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="__PUBLIC__/maoke/js/jquery.lazyload.js" type="text/javascript" charset="utf-8"></script>


<include file="Layout:foot" />
