
	<include file="Layout:head" />
	<include file="Layout:nav" />

<style type="text/css">
		.mgl-20{margin-left:20px;}
		.f-red{ color:red; font-weight: bold;}
		.f-blue{ color: #2525FE;font-weight: bold;}
		.mgb-20{margin-bottom:20px;}
		.mgb-20>p{ line-height: 25px;}
		.mgb-20 ul>li>p{line-height: 25px;}
	</style> 
<!--                        严禁绑定刷单号  start                   -->
<div class="info">
	<div class="recommend mt24" style="float: left;margin-left: 108px;">
	<h2>推荐试用</h2>
	<ul class="recom-con">
		<foreach name="tuijian" item="vo" key="k">
		<li>
			<a href="<?php echo U('Index/detail' , array('id'=>$vo['id']) );?>" target="_blank">
			<img src="../{$vo['img']}" alt=""/>
			<span style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis; width: 100%; color: #666; display: inline-block;text-align: center;">{$vo['goods_name']}</span>
			</a>
		</li>
		</foreach>
	</ul>
</div>
<div class="detail_right ar-detail" >
    <div class="ar-container" style="font-size:14px;">
        <div class="ar-top">
            <p class="ar-tl">如何提高通过机会</p>
        </div>
        <div style="margin-bottom:10px;">
        	<p style="font-size:16px; padding:30px 0;">各位用户 :</p>
			<p class="mgl-20">领吧平台试用通过机制 , 想要多通过 , 快快看过来哟!</p>
        </div>
        <p style="padding:20px">针对所有用户 :</p>
        <div class="mgl-20 mgb-20">
        	<p class="f-red">一 :多关注</p>
        	<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;关注领吧官方微信号，多关注领吧微信动态，也可以提高自己的中奖机会哦~关注官方微信，还可以实时获取活动通过通知哟！</p>
        	<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;领吧官方微信：<a href="{:U('Index/index')}" style="font-weight: bold;color: #2525FE;">领吧</a>，也可以扫描下方二维码直接关注：</p>
        	<p class="mgl-20"><img src="__PUBLIC__/maoke/images/erweima.jpg" width="200px"/></p>
        </div>
        <div class="mgb-20">
        	<p class="f-red">二 :多申请</p>
        	<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;俗话说得好：广撒网、多敛鱼，可以多选择一些商品申请一下，生活往往会给你一些意想不到的惊喜！</p>
        </div>
        <div class="mgb-20">
        	<p class="f-red">三 :绑定淘宝账号</p>
        	<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;绑定淘宝帐号 ; 上传淘气值截图 , 申请活动及时更换淘宝帐号 , 有利于提高申请通过率哟!</p>
        	<p class="mgl-20" style="margin-left: 30px; margin-top: 20px;"><img src="__PUBLIC__/maoke/images/img_06.png"/></p>
        </div>
        <div class="mgb-20">
        	<p class="f-red">四 :多邀请好友 </p>
        	<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;把这种好机会分享给好友，既可以做顺水人情，还可以提高自己的审核通过率，此等两全其好的事情岂能错过？</p>
        	<p><a href="{:U('Index/yaoqing')}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;邀请一名好友送18元，点击邀请</a></p>
        </div>
        <div class="mgb-20">
        	<p class="f-red">五 :认真写试用报告 </p>
        	<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;试用报告要好好写哦，认真写优质试用报告，争取获得精华报告，这样商家满意了才会放更多的试用商品~丰富真实的报告内容也会提升你的审核通过率的哦~更多真人买家秀，也会提升你的审核通过率噢！</p>
        	<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;温馨提示：3次精华报告可以送一次免提现手续费机会，1次超级精华报告可以直接送一次免提现机会哟</p>
        </div>
        <div class="mgb-20">
        	<p class="f-red">六 :完善个人信息 </p>
        	<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;上传个人特色头像，完善个人信息（手机号、淘宝账号、QQ号），信息越完善，有利于吸引商家关注并审核通过哦！</p>
        	<p class="mgl-20" style="margin-left: 30px; margin-top: 20px;"><img src="__PUBLIC__/maoke/images/img_10.png"/></p>
        </div>
        <div class="mgb-20" style="padding-bottom: 40px;">
        	<p>以下行为可能会<span class="f-blue">降低审核通过率</span>，请认真阅读：</p>
        	<ul style="margin-left: 15px; margin-top: 20px;">
        		<li style="margin-bottom: 20px;">
        			<p class="f-blue">行为一 : 抄袭他人试用报告</p>
        			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;复制、抄袭、拼凑他人试用报告视为严重违规行为，严重者将被取消一切试用资格，所以各位会员请务必注意下，遵循原创、真实评价~</p>
        		</li>
        		<li style="margin-bottom: 20px;">
        			<p class="f-blue">行为二：试用全是文字 很少拍照 </p>
        			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 商家会审核用户的试用报告，如果你中奖后 填写试用报告经常只有文字，，很少图文好评，也会降低你的审核通过率。</p>
        		</li>
        		<li style="margin-bottom: 20px;">
        			<p class="f-blue"> 行为三：试用报告字数少，敷衍</p>
        			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;试用报告字数少，敷衍，复制、拼接他人评价都会降低你的审核通过率，所以请各位试客认真写评价</p>
        		</li>
        	</ul>
        </div>
   	</div>
</div>
<div style="clear: both;"></div>
</div>

<!--                        严禁绑定刷单号  end                   -->


<include file="Layout:foot" />
