<include file="Layout:meta" />
<include file="Layout:head" />
<include file="Layout:nav" />
<style>
    .is_chat_option span:first-of-type{display: inline-block;width: 135px; margin-right: 10px;}
</style>
    <div class="left" style="width: 1040px;overflow: hidden;background-color: #ffffff;margin: 0 0 8px 10px;">
        <img src="__PUBLIC__/maoke/images/merchant/release_header_show.png" alt="">
    </div>
                <!-- 发布试用5 -->
                <div class="store_content left">
                        <h1 class="title">发布试用</h1>
                        <!--进度条-->
                        <div class="progress_bar">
                            <img src="__PUBLIC__/maoke/images/merchant/sj_fbsy_bg_jdt_05_default.png" alt="">
                        </div>
						<form action="{:U('Actcenter/publish5')}" method="POST" id="myform" />
                        <div class="mission_info_set">
                            <h2>5.填写任务补充信息</h2>
                            <textarea name="info" id="extInfo" cols="30" rows="10" placeholder="需要额外补充写什么呢...." style="padding-left: 10px;border: 1px solid #E7E7E7; width: 600px;font-family: unset; padding-top:10px; margin-top:10px;">{$goods.info}</textarea>
                            
                            <!--是否需要客服聊天-->
                            <div class="service_chat">
                                <h3><b>（以下是额外任务，可自行选择并分配比例，客服聊天的分配比例与下单方案的分配关系是独立的，请根据自己的需求勾选）</b></h3>
                                <!-- <div class="set_box clearfix"> 
                                    <div class="is_chat_option no_chat fl chat_active">
                                        <span>1、是否需要收藏宝贝</span>
                                        <input type="radio" name="is_collect" style="vertical-align: middle;" checked="checked" value="0">否</div>
                                    <div class="is_chat_option has_chat  fl"><input type="radio" name="is_collect" style="vertical-align: middle;" value="1" >是</div>
                                    <span>分配比例</span>
                                    <select class="per_chatlog f1" name="per_collectog" disabled>
                                        <option selected="selected" value="0">0%</option>
                                        <option value="10">10%</option>
                                        <option value="20">20%</option>
                                        <option value="30">30%</option>
                                        <option value="40">40%</option>
                                        <option value="50">50%</option>
                                        <option value="60">60%</option>
                                        <option value="70">70%</option>
                                        <option value="80">80%</option>
                                        <option value="90">90%</option>
                                        <option value="100">100%</option>
                                    </select>      
                                </div>
                                <div class="set_box clearfix"> 
                                        <div class="is_chat_option no_chat fl chat_active">
                                            <span>2、是否需要加购物车</span><input type="radio" name="is_shopcart" style="vertical-align: middle;" checked="checked" value="0">否</div>
                                        <div class="is_chat_option has_chat  fl"><input type="radio" name="is_shopcart" style="vertical-align: middle;" value="1">是</div>
                                        <span>分配比例</span>
                                        <select class="per_chatlog f1" name="per_shopcartlog" disabled>
                                            <option selected="selected" value="0">0%</option>
                                            <option value="10">10%</option>
                                            <option value="20">20%</option>
                                            <option value="30">30%</option>
                                            <option value="40">40%</option>
                                            <option value="50">50%</option>
                                            <option value="60">60%</option>
                                            <option value="70">70%</option>
                                            <option value="80">80%</option>
                                            <option value="90">90%</option>
                                            <option value="100">100%</option>
                                        </select>      
                                    </div> -->
                                    <div class="set_box clearfix"> 
                                            <div class="is_chat_option no_chat fl chat_active">
                                                <span>是否需要客服聊天</span><input type="radio" name="chat" <if condition='($goods.per_chatlog eq 0)'>checked</if> style="vertical-align: text-top;" value="0">否</div>
                                            <div class="is_chat_option has_chat  fl"><input type="radio" name="chat" <if condition='($goods.per_chatlog gt 0)'>checked</if> style="vertical-align: text-top;" value="1">是</div>
                                            <span>分配比例</span>
                                            <select class="per_chatlog f1" name="per_chatlog" <empty name="goods.per_chatlog">disabled</empty>>
                                                <option <if condition='($goods.per_chatlog eq 0)'>selected="selected"</if> value="0">0%</option>
                                                <option <if condition='($goods.per_chatlog eq 10)'>selected="selected"</if> value="10">10%</option>
                                                <option <if condition='($goods.per_chatlog eq 20)'>selected="selected"</if> value="20">20%</option>
                                                <option <if condition='($goods.per_chatlog eq 30)'>selected="selected"</if> value="30">30%</option>
                                                <option <if condition='($goods.per_chatlog eq 40)'>selected="selected"</if> value="40">40%</option>
                                                <option <if condition='($goods.per_chatlog eq 50)'>selected="selected"</if> value="50">50%</option>
                                                <option <if condition='($goods.per_chatlog eq 60)'>selected="selected"</if> value="60">60%</option>
                                                <option <if condition='($goods.per_chatlog eq 70)'>selected="selected"</if> value="70">70%</option>
                                                <option <if condition='($goods.per_chatlog eq 80)'>selected="selected"</if> value="80">80%</option>
                                                <option <if condition='($goods.per_chatlog eq 90)'>selected="selected"</if> value="90">90%</option>
                                                <option <if condition='($goods.per_chatlog eq 100)'>selected="selected"</if> value="100">100%</option>
                                            </select>      
                                        </div>
                                        <!-- <div class="set_box clearfix"> 
                                                <div class="is_chat_option no_chat fl chat_active">
                                                    <span>4、是否需要关注店</span>
                                                    <input type="radio" name="is_atten" style="vertical-align: middle;" checked="checked" value="0">否
                                                </div>
                                                <div class="is_chat_option has_chat  fl">
                                                    <input type="radio" name="is_atten" style="vertical-align: middle;" value="1">是
                                                </div>
                                                <span>分配比例</span>
                                                <select class="per_chatlog f1" name="per_attenlog" disabled>
                                                    <option selected="selected" value="0">0%</option>
                                                    <option value="10">10%</option>
                                                    <option value="20">20%</option>
                                                    <option value="30">30%</option>
                                                    <option value="40">40%</option>
                                                    <option value="50">50%</option>
                                                    <option value="60">60%</option>
                                                    <option value="70">70%</option>
                                                    <option value="80">80%</option>
                                                    <option value="90">90%</option>
                                                    <option value="100">100%</option>
                                                </select>      
                                            </div> -->
                            <!--下一步-->
                            <div class="nextStep_btn">
                                <input type="hidden" name="id" value="{$id}" />
                                <input onclick="location.href='{:U(\'Actcenter/publish4\',array(\'id\' => $id))}'" type="button" value="上一步">
                                <input onclick="next_step();" type="button" value="下一步">
                            </div>
                        </div>
                        </div> 
						</form>
            </div>
        </div>
    </section>
		<!-- page-wrapper end -->
</div>
		<!-- wrapper -->
</div>
    <script>
        $(function(){
            $("input[type='radio']").change(function(){
                // alert($(this).val());
                if($(this).val() == 0){
                    $(this).parent(".is_chat_option").siblings(".per_chatlog").val('0');
                    $(this).parent(".is_chat_option").siblings(".per_chatlog").attr('disabled','disabled');
                }else{
                    $(this).parent(".is_chat_option").siblings(".per_chatlog").removeAttr('disabled');
                }
            })
        });
        function next_step() {
            //var extInfo = $("#extInfo").val();   //补充信息
            //暂时注释
            // var extSur = [
            //     {'is_collect':$("input[name='is_collect']:checked").val(),'per_collectog':$("select[name='per_collectog']").val()},
            //     {'is_shopcart':$("input[name='is_shopcart']:checked").val(),'per_shopcartlog':$("select[name='per_shopcartlog']").val()},
            //     {'is_chat':$("input[name='is_chat']:checked").val(),'per_chatlog':$("select[name='per_chatlog']").val()},
            //     {'is_atten':$("input[name='is_atten']:checked").val(),'per_attenlog':$("select[name='per_attenlog']").val()}
            // ];
            //var extSur = [
            //    {'is_chat':$("input[name='chat']:checked").val(),'per_chatlog':$("select[name='per_chatlog']").val()}
            //];
            //console.log(extSur);
            //window.location.href="{:U('Actcenter/publish6')}";

            //验证通过后提交数据
            // $.ajax({
            //     url: '',
            //     data: {
            //         extInfo: extInfo,
            //         extSur: extSur,
            //     },
            //     type: 'post',
            //     success: function(data) {

            //         window.location.href="{:U('Actcenter/publish5')}";
            //     },
            //     error: function (XMLHttpRequest, textStatus) {
            //     }
            // })
            $('#myform').submit();
        }
    </script>
	<include file="Layout:foot" />