<include file="Layout:meta" />
<include file="Layout:head" />
<include file="Layout:nav" />
                <!-- 试用管理 -->
                <div id="my_main" class="content left" style="background-color: rgb(255, 255, 255); min-height: 889px;">
                    <div class="activity_manage">
                        <h1 class="title">试用回收站</h1>
                        <!--查询和回收站-->
                        <div class="inquire_recycleBin clearfix">
                            <!--查询搜索框-->
                            <div class="left inquire_box">
                              <form action="" method="GET" id="myform" />
                                <ul class="clearfix">
                                    <li class="goods_name">商品名称：</li>
                                    <li class="input_box"><input type="text" id="gname" name="gname" placeholder="请输入商品名称" value="{$gname}"></li>
                                    <li class="inquire_btn">
                                     <input type="hidden" name="m" value="Supporter" />
                                     <input type="hidden" name="c" value="Actcenter" />
                                     <input type="hidden" name="a" value="trash" />
                                     <input type="submit" value="查询" />
                                    </li>
                                </ul>
                              </form>  
                            </div>
                        </div>
                        <!--商品发货状态-->
                        <volist name="data" id="vo">
                        <div class="delivery_status">
                            <div class="title">
                                <p class="left">
                                    <span class="type1">&nbsp;<if condition='($vo.type eq 1)'>爆款打造/维护<else />新品提升综合权重</if></span>
                                    <!-- <span class="type3">&nbsp;新品提升那综合权重</span> -->
                                    <span>发布时间：<if condition='($vo.starttime eq 0)'>还未发布<else/>{$vo.starttime|date="Y-m-d",###}</if></span>
                                    <span>活动编号：{$vo.id}</span>
                                    <span>押金合计：<b>{$vo.money|default="0"|number_format=2}</b></span>
                                    <!--span>金币合计：<b>0.00</b></span-->
                                </p>
                                <p class="right">
                                    <a href="{:U('Actcenter/processdetail')}" target="_blank">进展详情</a>
                                </p>
                            </div>
                            <div class="detalis">
                                <ul>
                                    <li><img style="width:80px;height:80px" src="../{$vo.image}"></li>
                                    <li>
                                        <p>商品名称：<span>{$vo.gname}</span></p>
                                        <p>店铺名称：<span>{$vo.shopname}</span></p>
                                        <p>商品来源：<span><if condition="($vo.type eq 1)">淘宝<elseif condition="$vo.type eq 2"/>天猫</if></span></p>
                                        <p>商品分类：<span>{$category[$vo[cid]]}</span></p>
                                    </li>
                                    <li>
                                        <p>
                                            <!-- 根据状态显示 -->
                                            <span><if condition="($vo.state eq 7)">待支付
                                                   <elseif condition="$vo.state eq 10"/>待发布
                                                   <elseif condition="$vo.state eq 2"/>待完善
                                                   <elseif condition="$vo.state eq 20"/>已结束
                                                  </if>
                                            </span>
                                            <!-- <span>待付款</span>-->
                                            <!-- <span>待发布</span> -->
                                            <!-- <span>活动中</span> -->
                                            <!-- <span>已结束</span>  -->
                                        </p>
                                    </li>
                                    <li><div class="table_cell"><p class="status"><span><a href="{:U(\'Actcenter/trash\',array(\'id\' => $vo['id']))}">还原该试用</a></span></p></div></li>                       
                                </ul>
                                <p class="tryNum_detail">
                                    <span>试用总份数：<b>{$vo.num|default="0"}份</b></span>
                                    <span>申请人数：<b>0人</b></span>
                                    <span>已中奖：<b>0 份</b></span>
                                    <span>已领取：<b>0 份</b></span>
                                    <notin name="vo.state" value="11,20">
                                     <!--span class="right into_recycleBin" onclick="show_into_recycle_bin(11791)">放入回收站</span-->
                                    </notin> 
                                </p>
                                <!--新添 end 第三期-->
                            </div> 
                        </div>
                        </volist>
                    </div>
                    <!------分页-------->
                    <notempty name="pagination.totalCount">
                    <if condition="($pagination.totalPages gt 1)">
                     <div class="row">
                      <div class="col-sm-12">
                       <div class="dataTables_paginate paging_simple_numbers" id="dataTables-example_paginate" style="text-align:center;"><ul class="pagination" id="list-pagination"></ul></div>
                      </div>
				     </div>
				    </if>
				    </notempty>
				    <!------end----------->
				</div>
			</section>
		<!-- page-wrapper end -->
		</div>
		<!-- wrapper -->
	</div>
	<script type="text/javascript">
	$(function(){
		var paginationOptions= $.extend(true, {$pagination|json_encode} ,
		{
			onPageClick: function (event, page) {
				var options = $(this).data('twbsPagination').options;
				options.baseUrl = options.baseUrl.replace('','');
				options.getParams.page = page;
				//options.getParams.pagesize = options.getParams.pagesize;
				var param = '';
				for(var x in options.getParams ){
					param += '&' + x + '=' + options.getParams[x];
				}
				//console.log(param);return;
				window.location.href =  options.baseUrl + param + '';
			}
		});
		$('#list-pagination').twbsPagination(paginationOptions);
	
	});
	</script>
	<include file="Layout:foot" />