<extend name="public/modal" />
<block name="title">绑定店铺</block>
<block name="menu">
	<form action="{:U('User/shopmanage')}" method="post" class="form form-horizontal" id="form-admin-role-add" onsubmit="return checkForm()">
		<div class="row cl">
			<label class="form-label col-xs-2 col-sm-2" style="text-align: right;"><span class="c-red">*</span>店铺名称：</label>
			<div class="formControls col-xs-10 col-sm-10">
				<input type="text" class="input-text" placeholder="请输入店铺名称" id="shopname" name="shopname" required oninvalid="setCustomValidity('请输入店铺名称');" oninput="setCustomValidity('');">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-2 col-sm-2" style="text-align: right;"><span class="c-red">*</span>旺旺号：</label>
			<div class="formControls col-xs-10 col-sm-10">
				<input type="text" class="input-text" placeholder="请输入旺旺号" name="wangwang" required oninvalid="setCustomValidity('请输入旺旺号');" oninput="setCustomValidity('');">
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-2 col-sm-2" style="text-align: right;"><span class="c-red">*</span>店铺网址：</label>
			<div class="formControls col-xs-10 col-sm-10">
				<input type="url" class="input-text" placeholder="请输入店铺地址" name="url" required oninvalid="setCustomValidity('请输入店铺地址');" oninput="setCustomValidity('');">
			</div>
		</div>

		<div class="row cl">
			<div class="col-xs-10 col-sm-10 col-xs-offset-2">
				<button type="submit" class="btn btn-success radius" id="admin-role-save" name="admin-role-save"><i class="icon-ok"></i> 提交</button>
				<font color="red">（如需尽快通过审核，请联系服务导师）</font>
			</div>
		</div>
	</form>

	<script type="text/javascript">
        function checkForm(){
            if(/[^\u4e00-\u9fa5\w]/.test(document.getElementById('shopname').value)){
                layer.msg('店铺名称存在非法字符');
                return false;
            }
            return true;
        }

	</script>
</block>
<block name="js">

</block>