<include file="Layout:meta" />
<include file="Layout:head" />
<include file="Layout:nav" />
<style type="text/css">
	#section .section_main .content .activity_manage .delivery_status .detalis ul li .detail-l{ width: 175px; float: left;}
	#section .section_main .content .activity_manage .delivery_status .detalis ul li .detail-r{ width: 124px; float: left;}
	#section .section_main .content .activity_manage .delivery_status .detalis ul li:nth-of-type(2) p{ width: 100%;}
</style>
                <!-- 优惠券管理 -->
                <div id="my_main" class="content left" style="background-color: rgb(255, 255, 255); min-height: 889px;">
                    <div class="activity_manage">
                        <h1 class="title">优惠券活动管理</h1>
                        <!--所有订单的状态种类-->
                        <div class="order_status">
                            <ul>
                                <li class="order"><a <empty name="state">class="personal_active"</empty> href="{:U('Coupon/couponmanage')}">所有活动（<span>{$totalCount[0]}</span>）</a><b>|</b></li>
                                <li class="order"><a <if condition='($state eq 2)'>class="personal_active"</if> href="{:U('Coupon/couponmanage', array('state' => 2))}">待完善活动（<span>{$totalCount[2]}</span>）</a><b>|</b></li>
                                <li class="order"><a <if condition='($state eq 7)'>class="personal_active"</if> href="{:U('Coupon/couponmanage', array('state' => 7))}">待付款活动（<span>{$totalCount[7]}</span>）</a><b>|</b></li>
                                <li class="order"><a <if condition='($state eq 10)'>class="personal_active"</if> href="{:U('Coupon/couponmanage', array('state' => 10))}">待审核活动（<span>{$totalCount[10]}</span>）</a><b>|</b></li>
                                <li class="order"><a <if condition='($state eq 11)'>class="personal_active"</if> href="{:U('Coupon/couponmanage', array('state' => 11))}">活动中活动（<span>{$totalCount[11]}</span>）</a><b>|</b></li>
                                <li class="order"><a <if condition='($state eq 20)'>class="personal_active"</if> href="{:U('Coupon/couponmanage', array('state' => 20))}">已结束活动（<span>{$totalCount[20]}</span>）</a><b>|</b></li>
                                <li class="order"><a <if condition='($state eq 12)'>class="personal_active"</if> href="{:U('Coupon/couponmanage', array('state' => 12))}">已驳回活动（<span>{$totalCount[12]}</span>）</a></li>
                            </ul>
                        </div>
                        <!--查询和回收站-->
                        <div class="inquire_recycleBin clearfix">
                            <!--查询搜索框-->
                            <div class="left inquire_box">
                              <form action="" method="GET" id="myform" />
                                <ul class="clearfix">
                                    <li class="goods_name">商品名称：</li>
                                    <li class="input_box"><input type="text" id="gname" name="gname" placeholder="请输入商品名称" value="{$gname}"></li>
                                    <li class="inquire_btn">
                                     <input type="hidden" name="m" value="Supporter" />
                                     <input type="hidden" name="c" value="Coupon" />
                                     <input type="hidden" name="a" value="index" />
                                     <input type="submit" value="查询" />
                                    </li>
                                </ul>
                              </form>
                            </div>
                            <!--优惠券回收站-->
                            <div class="right recycle_bin">
                                <a class="iconfont icon-p-delet" href="{:U('Coupon/trash')}">&nbsp;优惠券活动回收站</a>
                            </div>
                        </div>
                        <!--商品发货状态-->
                        <div class="delivery_status">
                        	<div class="title">
                        		<p class="left">
                        			<span>发布时间：2018-03-16</span>
                        			<span>结束时间：2018-03-26</span>
                        			<span>活动编号：2063</span>
                        			<span>押金合计：<b>0.00</b></span>
                        		</p>
                        		<p class="right"><a href="{:U('Coupon/processdetail',array('id' => $vo['id']))}">进展详情</a></p>
                        	</div>
                        	<div class="detalis">
                        		<ul>
                        			<li><img style="width:80px;height:80px" src="..//upload/20180314/5aa8d9fda6462.png"></li>
                        			<li>
                        				<div class="detail-l">
                        					<p>商品名称：<span>123</span></p>
	                        				<p>店铺名称：<span>大家旺3C配件商城</span></p>
	                        				<p>商品来源：<span>淘宝</span></p>
	                        				<p>商品分类：<span>女装</span></p>
                        				</div>
                        				<div class="detail-r">
                        					<p>下单金额：<span>123</span>元</p>
	                        				<p>优惠券金额：<span>12</span>元</p>
	                        				<p>商品链接：<a href="#"  target="_blank" style="color: #f25f55; text-decoration: underline;">点击查看</a></p>
                        				</div>
                        			</li>
                        			<li>
                        				<p>
                        					<!-- 根据状态显示 -->
                        					<span>待支付</span>
                        					<!-- <span>待付款</span>-->
                        					<!-- <span>待发布</span> -->
                        					<!-- <span>活动中</span> -->
                        					<!-- <span>已结束</span>  -->
                        				</p>
                        			</li>
                        			<li>
                        				<div class="table_cell">
                        					<!-- 待完善 -->
                        					<p class="status"><span>信息有待完善<a href="/cm/maoke/index.php?m=Supporter&amp;c=Coupon&amp;a=publishfourth&amp;id=2063">去支付&gt;&gt;</a></span></p>

                        				</div>
                        			</li>
                        		</ul>
                        		<p class="tryNum_detail">
                        			<span>试用总份数：<b>39份</b></span>
                        			<span>申请人数：<b>0人</b></span>
                        			<span>已领取：<b>0 份</b></span>
                        			<span class="right into_recycleBin"><a href="/cm/maoke/index.php?m=Supporter&amp;c=Coupon&amp;a=trash&amp;id=2063">放入回收站</a></span> </p>
                        		<!--新添 end 第三期-->
                        	</div>
                        </div>
                    </div>
                    <!------分页-------->
                    <notempty name="pagination.totalCount">
                    <if condition="($pagination.totalPages gt 1)">
                     <div class="row">
                      <div class="col-sm-12">
                       <div class="dataTables_paginate paging_simple_numbers" id="dataTables-example_paginate" style="text-align:center;"><ul class="pagination" id="list-pagination"></ul></div>
                      </div>
				     </div>
				    </if>
				    </notempty>
				    <!------end----------->
				</div>
			</section>
		<!-- page-wrapper end -->
		</div>
		<!-- wrapper -->
	</div>
	<script type="text/javascript">
	$(function(){
		var paginationOptions= $.extend(true, {$pagination|json_encode} ,
		{
			onPageClick: function (event, page) {
				var options = $(this).data('twbsPagination').options;
				options.baseUrl = options.baseUrl.replace('','');
				options.getParams.page = page;
				//options.getParams.pagesize = options.getParams.pagesize;
				var param = '';
				for(var x in options.getParams ){
					param += '&' + x + '=' + options.getParams[x];
				}
				//console.log(param);return;
				window.location.href =  options.baseUrl + param + '';
			}
		});
		$('#list-pagination').twbsPagination(paginationOptions);
	});
	</script>
	<include file="Layout:foot" />