	<!--                        顶部登录注册  start                      -->
	<div style="background: #F2F2F2; width: 100%; height: 35px; border-bottom: 1px solid #e2e2e2;">
		<a name="top1"></a>
	    <div class="header_top" style="margin-left: auto; margin-right: auto;">
	        <div class="header_leftt">
	            <div class="top_mb">
	                <!--<a href="javascript:"  style="color: #f25f55">QQ登录</a>
	                <span class="color_fg">|</span>
	                <a href="javascript:"  style="color: #f25f55;">用户登录</a>
	                <span class="color_fg">|</span>-->
	                <a href="http://www.taofanxian.com/admin.php?m=Home&c=Regist&a=index" style="color:#888" target="_blank">商家注册</a>
	                <span class="color_fg">|</span>
	                <a href="http://www.taofanxian.com/admin.php?m=Home&c=Index&a=login" style="color: #f25f55;" target="_blank">商家登录</a>
	            </div>
	            <div class="top_left">
	                <a href="http://q.url.cn/cdyRVJ?_type=wpa&qidian=true" target="_blank" class="on-service">在线客服</a>
	            </div>
	            <div class="shou_btn">
	                <em>&nbsp;&nbsp;收藏</em>
	                <div class="shou_toggle"><span>Ctrl</span>或<span>Cmd+D</span>收藏本站</div>
	            </div>
	        </div>
	        
	        <div class="header_right">
	        	<a href="{:U('Index/index')}" title="领吧首页">领吧首页</a><span class="color_fg">|</span>
	        	<a href="javascript:;" class="wx">
	        		<i class="top-icon-ph"></i>微信公众号
	        		<div class="wx-img"> 
            			<img src="__PUBLIC__/maoke/images/erweima.jpg" width="150px"/>
            		</div>
	        	</a>
	        	<!--<span class="color_fg">|</span>
	        	<a href="javascript:;" target="_blank">邀请好友<span style="color: #f25f55; font-weight: bold;">送80元</span></a>-->
	        	<!--<span class="color_fg">|</span>
	        	<a href="javascript:">做问卷送金币</a>-->
	        	<span class="color_fg">|</span>
	        	<a href="{:U('Help/userhelp')}" target="_blank">帮助中心</a><span class="color_fg">|</span>
	        	<span class="wzdh">
                    <a href="" target="_blank" class="sbdjx" id="naviatetext" style="width: 70px;">网站导航</a>
                    <div class="oneto" id="naviate">
                        <div class="onetoa">
                            <p class="tcbt">
                                <a href="#">免费试用</a>
                            </p>
                            <p>
                                <a href="#" target="_blank">试用专区</a>&nbsp;&nbsp;<a href="" target="_blank">试用报告</a>
                            </p>
                        </div>
                        <div class="onetoa">
                            <p class="tcbt">
                                <a href="#">有奖竞猜</a>
                            </p>
                            <p>
                                <a href="#" target="_blank">有奖竞猜</a>
                            </p>
                        </div>
                        <div class="onetoa">
                            <p class="tcbt">
                                <a href="#">站内活动</a>
                            </p>
                            <p>
                                <a href="#" target="_blank">邀请有奖</a>&nbsp;&nbsp;<a href="" target="_blank">金币抽奖</a>
                            </p>
                        </div>
                        <div class="onetoa">
                            <p style="padding-top: 8px;">
                                <a href="" target="_blank">商家报名</a>&nbsp;&nbsp;
                                <a href="" target="_blank">意见反馈</a>
                            </p>
                        </div>
                    </div>
                </span>
	        
	        </div>
    	</div>
	</div>
	<!--                        顶部登录注册  end                               -->
	
	<!--                        商城导航  start                        -->
<div class="yonghu_top">
    <div id="header" class="header">
        <div class="header_main">
            <div class="header_center">
                <a href="{:U('Index/index')}" class="qn-logo" style="width: 330px;"></a>
                <!--logo-->
                <a href="{:U('Index/yaoqing')}" target="_blank" class="qn-lg-right"></a>
                <div id="logo_right" class="logo_right">
                    <form class="kl" method="get" action="{:U('Classlist/keyclick')}">
                    	<input type="hidden" name='m' value='Home' />
                    	<input type="hidden" name='c' value='Classlist' />
                    	<input type="hidden" name='a' value='keyclick' />
                        <input name="" type="button" class="dl" />
                        <input id="searchText" name="keywords" type="text" class="pl" value="<?php if(isset($keywords)&&!empty($keywords)&&!empty($keywords)) echo $keywords;?>"  placeholder="搜索试用品" required/>
                        <input id="inputsearch" type="submit" class="fl" value="" style="height: 38px;"/>
                    </form>
                </div>
            </div>
        </div>
        <div id="nav" class="nav" style="font-family: 微软雅黑;">
            <div class="main">
                <!--qiandaog-->
                <ul>
                    <li class="showtrytype"><div class="fication"><i></i>试用品分类</div></li>
                    <li class="main-li"><a href="{:U('Index/index')}" class="<?php if($code!='jinping' && $code!='guide') echo 'selet';?>" >首页</a></li>
                    <li class="main-li">
                        <a href="<?php echo U('Classlist/index' , array('code'=>'jinping') );?>" class="jpSwip <?php if($code=='jinping') echo 'selet';?>" target="_blank">
                            精选试用
                            <span class="ntp-hot">
                                <img src="__PUBLIC__/maoke/images/new.gif" class="png_bg" />
                            </span>
                        </a>
                    </li>
                    <!--<li class="main-li">
                        <a href="" target="_blank">
                            新人必中
                            <span class="ntp-hot" style="top:-23px;left: 44px;">
                                <img src="__PUBLIC__/maoke/images/hit.gif" class="png_bg" />
                            </span>
                        </a>
                    </li>-->

                    <li class="main-li">
                        <a href="{:U('Index/guide')}" target="_blank" class="<?php if($code=='guide') echo 'selet';?>">
                            新手入门
                        </a>
                    </li>
                    <li class="main-li">
                        <a href="{:U('Index/yaoqing')}" class="" target="_blank">
                        	邀请有奖
                        </a>
                    </li>
                </ul>
                <!--<div class="qiandaodiv">
                    <div class="qiandao">
                        <a id="signbtn" href="javascript:" title="使用金币可以直接通过试用资格">签到领金币</a>
                    </div>
                </div>
                --><div class="sj_apply" style="margin-right:0px;">
                    <a href="{:U('Index/business')}" target="_blank">商家报名</a>
                </div>
            </div>
        </div>
        <!--header_main-->
    </div>
    <!--header-->
</div>
<!--                        商城导航  end                        -->