<div class="content" style="padding: 10px 0; height: auto;">
	<div class="clearfix main" style="width: 1070px;">
		<div class="mian_her">
			<a href="{:U('Index/index')}" target="_blank">首页</a><span>></span>
			<a href="{:U('Help/userhelp')}" target="_self">帮助中心</a><span>></span>
			<a href="#">商家中心</a>
		</div>
		<div class="mian_left clearfix">
			<div class="mi_ler">
				<a id="user" href="{:U('Help/userhelp',array('page'=>'login'))}"  >用户中心</a>
				<a id="merchant" href="{:U('Help/sellerhelp',array('page'=>'reg'))}" style="border-left: 1px solid #dcdcdc;" class="seled">商家中心</a>
			</div>
			<!--mi_ler-->
			<div class="left_tpa">
				<strong>商家注册与登录</strong>
			</div>
			<!--left_tp-->
			<div class="left_ree">
				<ul>
					<li>
						<a id="registered" href="{:U('Help/sellerhelp',array('page'=>'reg'))}" target="_self" class="<?php if($page == 'reg'){echo 'rtf';}?>">如何注册</a>
					</li>
					<li>
						<a id="login" href="{:U('Help/sellerhelp',array('page'=>'sellerlogin'))}" target="_self" class="<?php if($page == 'sellerlogin'){echo 'rtf';}?>">如何登录</a>
					</li>
				</ul>
			</div>
			<!--left_re-->
			<div class="left_tpa">
				<strong>商家新手上路</strong>
			</div>
			<!--left_tp-->
			<div class="left_ree">
				<ul>
					<li>
						<a id="apply_trial" href="{:U('Help/sellerhelp',array('page'=>'about'))}" target="_self" class="<?php if($page == 'about'){echo 'rtf';}?>">什么是试用</a>
					</li>
					<li>
						<a id="trial_included" href="{:U('Help/sellerhelp',array('page'=>'publish'))}" target="_self" class="<?php if($page == 'publish'){echo 'rtf';}?>">如何发布试用</a>
					</li>
					<li>
						<a id="trial_included" href="{:U('Help/sellerhelp',array('page'=>'publishruler'))}" target="_self" class="<?php if($page == 'publishruler'){echo 'rtf';}?>">领吧试用产品发布规则</a>
					</li>
				</ul>
			</div>
			<!--left_re-->
			<div class="left_tpa">
				<strong>商家流程</strong>
			</div>
			<!--left_tp-->
			<div class="left_ree">
				<ul>
					<li>
						<a id="lean_trial" href="{:U('Help/sellerhelp',array('page'=>'seniority'))}" target="_self" class="<?php if($page == 'seniority'){echo 'rtf';}?>">发布试用需要什么资格</a>
					</li>
					<li>
						<a id="trial_condition" href="{:U('Help/sellerhelp',array('page'=>'time'))}" target="_self" class="<?php if($page == 'time'){echo 'rtf';}?>">试用活动的时间为多长</a>
					</li>
					<li>
						<a id="gold_coins" href="{:U('Help/sellerhelp',array('page'=>'assure'))}"  target="_self" class="<?php if($page == 'assure'){echo 'rtf';}?>">什么是试用担保金</a>
					</li>
					<li>
						<a id="trial_order" href="{:U('Help/userhelp',array('page'=>'putassure'))}"  target="_self" class="<?php if($page == 'putassure'){echo 'rtf';}?>">何时发放试用担保金</a>
					</li>
					<li>
						<a id="look_trial" href="{:U('Help/userhelp',array('page'=>'auditing'))}"  target="_self" class="<?php if($page == 'auditing'){echo 'rtf';}?>">何时审核试用报告</a>
					</li>
					<li>
						<a id="trial_report" href="{:U('Help/userhelp',array('page'=>'check'))}"  target="_self" class="<?php if($page == 'check'){echo 'rtf';}?>">如何验收试用报告</a>
					</li>
				</ul>
			</div>
			<!--left_re-->
			<div class="left_tps" style="border-bottom: none;">
				<a id="trial_rules" href="{:U('Help/userhelp',array('page'=>'sellerruler'))}"  target="_self"><strong>领吧商家管理规则</strong></a>
			</div>
			<div class="left_tps" style="border-bottom: none;">
				<a id="vip_user" href="{:U('Help/userhelp',array('page'=>'punish'))}"  target="_self"><strong>商家违规处罚条款</strong></a>
			</div><div class="left_tps" style="border-bottom: none;">
				<a id="vip_user" href="{:U('Help/userhelp',array('page'=>'sellerxieyi'))}"  target="_self"><strong>VIP会员服务协议</strong></a>
			</div>
			<div class="left_tps" style="border-bottom: none;">
				<a id="vip_user" href="{:U('Help/userhelp',array('page'=>'adxieyi'))}"  target="_self"><strong>会员广告服务协议</strong></a>
			</div>
		</div>
		<div class="imgloli" id="abc">
			<a href="{:U('Index/contact')}" target="_blank"><img src="__PUBLIC__/maoke/images/help/youyiwen.png" /></a>
			<a href="#" class="fork" onclick="$('#abc').hide();">ｘ</a>
		</div>
