<div class="content" style="padding: 10px 0; height: auto;">
	<div class="clearfix main" style="width: 1070px;">
		<div class="mian_her">
			<a href="{:U('Index/index')}" target="_blank">首页</a><span>></span>
			<a href="{:U('Help/userhelp')}" target="_self">帮助中心</a>
		</div>
		<div class="mian_left clearfix">
			<div class="mi_ler">
				<a id="user" href="{:U('Help/userhelp',array('page'=>'login'))}" class="seled" >用户中心</a>
				<a id="merchant" href="{:U('Help/sellerhelp',array('page'=>'reg'))}" style="border-left: 1px solid #dcdcdc;">商家中心</a>
			</div>
			<!--mi_ler-->
			<div class="left_tpa">
				<strong>用户注册与登录</strong>
			</div>
			<!--left_tp-->
			<div class="left_ree">
				<ul>
					<!--<li>
						<a id="registered" href="javascript:void(0)" target="_self">如何注册</a>
					</li>-->
					<li>
						<a id="login" href="{:U('Help/userhelp',array('page'=>'login'))}" target="_self" class="<?php if($page == 'login'){echo 'rtf';}?>">如何注册与登录</a>
					</li>
				</ul>
			</div>
			<!--left_re-->
			<div class="left_tpa">
				<strong>试用教程</strong>
			</div>
			<!--left_tp-->
			<div class="left_ree">
				<ul>
					<li>
						<a id="apply_trial" href="{:U('Help/userhelp',array('page'=>'apply'))}" target="_self" class="<?php if($page == 'apply'){echo 'rtf';}?>">如何申请试用商品</a>
					</li>
					<li>
						<a id="trial_included" href="{:U('Help/userhelp',array('page'=>'getassure'))}" target="_self" class="<?php if($page == 'getassure'){echo 'rtf';}?>">如何获得试用担保金</a>
					</li>
				</ul>
			</div>
			<!--left_re-->
			<div class="left_tpa">
				<strong>试用流程说明</strong>
			</div>
			<!--left_tp-->
			<div class="left_ree">
				<ul>
					<li>
						<a id="lean_trial" href="{:U('Help/userhelp',array('page'=>'learn'))}" target="_self" class="<?php if($page == 'learn'){echo 'rtf';}?>">了解试用</a>
					</li>
					<li>
						<a id="trial_condition" href="{:U('Help/userhelp',array('page'=>'condition'))}" target="_self" class="<?php if($page == 'condition'){echo 'rtf';}?>">参与试用的条件</a>
					</li>
					<li>
						<a id="gold_coins" href="{:U('Help/userhelp',array('page'=>'getgold'))}"  target="_self" class="<?php if($page == 'getgold'){echo 'rtf';}?>">如何获取金币</a>
					</li>
					<li>
						<a id="trial_order" href="{:U('Help/userhelp',array('page'=>'order'))}"  target="_self" class="<?php if($page == 'order'){echo 'rtf';}?>">如何搜索试用下单</a>
					</li>
					<li>
						<a  href="{:U('Help/userhelp',array('page'=>'look'))}"  target="_self" class="<?php if($page == 'look'){echo 'rtf';}?>">如何查看我的试用情况</a>
					</li>
					<!--<li>
						<a id="trial_report" href="javascript:void(0)"  target="_self">如何填写我的试用报告</a>
					</li>-->
					<li>
						<a  href="{:U('Help/userhelp',array('page'=>'goodreport'))}"  target="_self" class="<?php if($page == 'goodreport'){echo 'rtf';}?>">精华报告批判规则</a>
					</li>
					<li>
						<a  href="{:U('Help/userhelp',array('page'=>'badreport'))}"  target="_self" class="<?php if($page == 'badreport'){echo 'rtf';}?>">关于劣质报告的相关说明</a>
					</li>
					<li>
						<a  href="{:U('Help/userhelp',array('page'=>'sharelink'))}" target="_self" class="<?php if($page == 'sharelink'){echo 'rtf';}?>">如何提取活动分享链接</a>
					</li>
				</ul>
			</div>
			<!--left_re-->
			<div class="left_tps" style="border-bottom: none;">
				<a id="trial_rules" href="{:U('Help/userhelp',array('page'=>'ruler'))}"  target="_self" ><strong>领吧试用规则</strong></a>
			</div>
			<div class="left_tps" style="border-bottom: none;">
				<a id="vip_user" href="{:U('Help/userhelp',array('page'=>'xieyi'))}"  target="_self"><strong>VIP会员服务协议</strong></a>
			</div>
		</div>
		<div class="imgloli" id="abc">
			<a href="{:U('Index/contact')}" target="_blank"><img src="__PUBLIC__/maoke/images/help/youyiwen.png" /></a>
			<a href="#" class="fork" onclick="$('#abc').hide();">ｘ</a>
		</div>
