<!--                        footer  start                   -->
<div class="footer">
    <div class="footer_main">
        <div class="footer_left" style="width: 500px;margin-left: 100px;">
            <div class="footer_xy">
                <p class="f-title" style="text-align: center; padding: 20px 0;">About <span style="font-size: 30px;">领吧</span> </p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;领吧：猫客网络旗下最新福利电商模式，邀请领奖品，试用领赠品，收徒有红包，网购领优惠券，加盟有分红，天天来领吧！轻松领不停！
</p>
            </div>
            <div>
            	<p style="padding: 10px 0;"><span>Copyright © 2013-2017 ling8.com</span> 鄂ICP备17007635号  武汉猫客科技网络有限公司</p>
            	<div style="display: flex; justify-content: space-between;">
            		<a href="javascript:;"><img src="__PUBLIC__/maoke/images/img_93_92.png"/></a>
            		<a href="javascript:;"><img src="__PUBLIC__/maoke/images/img_93_94.png"/></a>
            		<a href="javascript:;"><img src="__PUBLIC__/maoke/images/img_93_96.png"/></a>
            		<a href="javascript:;"><img src="__PUBLIC__/maoke/images/img_93_98.png"/></a>
            	</div>
            </div>
        </div>
        <div class="footer_right" style="float: left; margin-left: 100px; padding-top: 10px; width: 460px;">
            <!--<div class="footer-sp1">关注领吧</div>
            <div class="footer-sp1">微信公众号</div>-->
            <div style="color: #313131;font-size: 12px;line-height: 30px; margin-bottom: 20px;">
            	<a href="http://www.taofanxian.com/maoke/index.php?m=Home&c=Index&a=contact" target="_blank" style="color: #313131;">联系我们</a><span style="margin: 0 10px;">|</span>
                <a href="http://www.taofanxian.com/maoke/index.php?m=Home&c=Index&a=joint" target="_blank" style="color: #313131;">商务合作</a><span style="margin: 0 10px;">|</span>
                <a href="http://www.taofanxian.com/maoke/index.php?m=Home&c=Index&a=agree" target="_blank" style="color: #313131;">用户协议</a><span style="margin: 0 10px;">|</span>
                <a href="http://www.taofanxian.com/maoke/index.php?m=Home&c=Help&a=userhelp" target="_blank" style="color: #313131;">帮助中心</a>
            </div>
            <br />
            <div style="float: left;">
            	<img src="__PUBLIC__/maoke/images/erweima.jpg" width="120px">
            	<p style="text-align: center">关注领吧公众号</p>
            </div>
            <div style="float: left;margin-left: 100px;padding-top: 10px;">
	            <div class="footer-sp2">
	                <p>shang@ling8.com</p>
	                <p>发送反馈意见</p>
	            </div>
				 <div class="footer-sp2" style="background: url(__PUBLIC__/maoke/images/foot-span.png) -145px 8px no-repeat;">
	                <p>027-87370898</p>
	                <p>027-87370899</p>
	            </div>

        	</div>    
        </div>
          
    </div>
</div>
<!--                        footer  end                   -->
<!--E-底部-->
<!--S-JS-->

<!--E-JS-->

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?eb77dfd2cb6feccdd36431a10b07e2d8";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</div>
</div>

</body></html>