<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>商家中心</title>
    <link rel="stylesheet" href="__PUBLIC__/maoke/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/maoke/css/shikeba/left_nav.css">
    <link rel="stylesheet" href="__PUBLIC__/maoke/css/shikeba/store_manage.css">
    <link rel="stylesheet" href="__PUBLIC__/maoke/css/shikeba/common.css">
    <link rel="stylesheet" href="__PUBLIC__/maoke/css/shikeba/header.css">
    <link rel="stylesheet" href="__PUBLIC__/maoke/css/shikeba/reset.css">
    <link rel="stylesheet" href="__PUBLIC__/maoke/css/shikeba/foot.css">
    <script src="__PUBLIC__/maoke/js/jquery.min.js"></script>
    <script src="__PUBLIC__/bootstrapplugin/pagination/jquery.twbsPagination.js"></script>
    <script src="__PUBLIC__/maoke/js/layer.js" type="text/javascript" charset="utf-8"></script>
</head>