.checktb h4 {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Helvetica Neue", Helvetica, Tahoma, Arial, 'Microsoft Yahei', 'PingFang SC', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', sans-serif;
    font-weight: bold;
    line-height: 1.1;
}

.checktb .layui-form .form-group{margin-bottom: 15px; }
.checktb .layui-form .form-group label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}
.checktb .layui-form .form-group .form-control {
    width: 300px;
    height: 32px;
    padding: 5px 8px;
    font-size: 13px;
    line-height: 1.53846154;
    color: #222;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}
.checktb .layui-form .btn-lg {
    font-size: 16px;
    line-height: 1.25;
    border-radius: 4px;
    display: inline-block;
    width: 150px;
}
.checktb .layui-form .text-blue{
    color: #03b8cf;
}
.checktb .layui-form .text-green{
    color: #38b03f;
}
.checktb .layui-form .text-warning {
    color: #f1a325;
}
.checktb .layui-form .card{
    position: relative;
    display: block;
    padding: 0;
    margin-bottom: 20px;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
    -webkit-transition: all .4s cubic-bezier(.175, .885, .32, 1);
    -o-transition: all .4s cubic-bezier(.175, .885, .32, 1);
    transition: all .4s cubic-bezier(.175, .885, .32, 1);
}
.checktb .clearf::after{
    display: block;
    content: '';
    clear: both;
}
.checktb .pull-right{
    float: right !important;
}
.checktb .panel-body a{
    color:  #145ccd;
}
.checktb .table-bordered th,.checktb .table-bordered td {
    border-bottom: 1px solid #ddd;
}
.checktb .table-bordered tr:last-child td{
    border-bottom: 0

}
.checktb .table-bordered th {
    background-color: #f1f1f1;
}
.checktb .mask{
    position: absolute;
    top: 0px;
    filter: alpha(opacity=60);
    background-color: #777;
    z-index: 888;
    left: 0px;
    opacity: 0.5;
    -moz-opacity: 0.5;
    display: none;  
}
.checktb .table th,.checktb .table td {
    padding: 8px;
    line-height: 1.53846154;
    vertical-align: top;
    /* border-bottom: 0px solid #ddd; */
    -webkit-transition: background .2s cubic-bezier(.175, .885, .32, 1);
    -o-transition: background .2s cubic-bezier(.175, .885, .32, 1);
    transition: background .2s cubic-bezier(.175, .885, .32, 1);
}
.checktb .table > thead > tr > th {
    vertical-align: bottom;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ddd;
}
.checktb .layui-table{
    width: 100%;
    margin: 10px 0;
    background-color: #fff;
}
.checktb .layui-table thead tr{
    background-color: #f2f2f2;
}
.checktb .layui-table td, .layui-table th {
    position: relative;
    padding: 9px 15px;
    min-height: 20px;
    line-height: 20px;
    font-size: 14px;
}