<extend name="Layout:layout" />
<block name="content">
	<!--<div class="row">
		<div class="col-lg-12">
            <h1 class="page-header">商户提现  </h1>
	    </div>
	</div>-->
	<nav class="breadcrumb" style="padding: 0px 15px; line-height: 37px; border-radius: 0; border-bottom: 1px solid #ddd; position: absolute;top: 0;left: 0;width: 100%;"><i class="fa fa-home"></i> 首页 <span class="c-gray en">&gt;</span> 商家管理 <span class="c-gray en">&gt;</span> 商家列表<a class="btn btn-success radius r" style="margin-top:1px;float: right;padding: 6px 20px;" href="javascript:location.replace(location.href);" title="刷新" ><i class="fa fa-refresh"></i></a><div style="clear: both;"></div></nav>
	<div style="height: 50px; width: 100%;"></div>
	<div style="float: right; padding: 10px 0; margin-right: 20px;">
		<form role="form" method="post" action="{:U('Member/blacklist')}" class="form-inline">
			<div class="form-group">
				<label for="name">用户id：</label>
				<input type="text" class="form-control" id="id" name="id" style="width: 150px;" value="{$id}">
			</div>
			<button type="submit" class="btn btn-default">搜索</button>
		</form>
		<div style="clear: both;"></div>
	</div>
	<div class="panel panel-default">
		<!-- /.panel-heading -->
		<div class="panel-body">
			<div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
				<div class="row">
					<div class="col-sm-12">
						<table class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline" id="dataTables-example" role="grid" aria-describedby="dataTables-example_info" style="width: 100%;" width="100%">
							<thead>
								<tr role="row">
									<th class="" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 80px;" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">id</th>
									<th class="" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 80px;" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">用户名</th>
									<th class="" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 80px;" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">注册日期</th>
									<th class="" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 80px;" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">电话</th>
									<th class="" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 85px;" aria-label="Platform(s): activate to sort column ascending">QQ</th>
									<th class="" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 80px;" aria-label="Platform(s): activate to sort column ascending">操作</th>
								</tr>
							</thead>
							<tbody>
							<?php if(!empty($user)){?>
									<tr>
										<td><?=$user['id']?></td>
										<td><?=$user['ddusername']?></td>
										<td><?=$user['regtime']?></td>
										<td><?=$user['mobile']?></td>
										<td><?=$user['qq']?></td>
										<td>
										<?php if($user['del']==1){?>
										<a href="<?=U('Member/blacklist',array('id'=>$user['id'],'type'=>0))?>">取消黑名单</a>
										<?php }else{?>
										<a href="<?=U('Member/blacklist',array('id'=>$user['id'],'type'=>1))?>">加入黑名单</a>
										<?php }?>
										</td>
									</tr>
									<?php }?>
							</tbody>
						</table>
					</div>
				</div>

			</div>
			<!-- /.table-responsive -->

		</div>
		<!-- /.panel-body -->
	</div>



</block>
<block name="otherfoot">
	
</block>