<extend name="Layout:layout" />
<block name="content">
	<div class="row">
		<div class="col-lg-12">
	                    <h1 class="page-header">修改密码  </h1>
	    </div>
	    
	</div>

		
     <form role="form" action="" method="post">
     	<input type="hidden" name="uid" value="{$manager.id}" />
   		<div class="row">	
	        <div class="form-group col-lg-4">
	        	<label>用户名</label>
	            <input class="form-control" placeholder="用户名" readonly="readonly" name="username" type="text" autofocus value="{$manager.username}">
	        </div>
        </div>
        <div class="row">
	        <div class="form-group col-lg-4">
	        	<label>用户密码</label>
	            <input class="form-control" placeholder="密码" name="password" type="password" value="">
	        </div>
  		</div>
  		<div class="row">
	        <div class="form-group col-lg-4">
	        	<label>重复密码</label>
	            <input class="form-control" placeholder="重复密码" name="repassword" type="password" value="">
	        </div>
  		</div>                       <!-- Change this to a button or input when using this as a form -->
        <div class="row">
        	<div class="col-lg-4">
        		<input type="submit" class="btn btn-lg btn-success btn-block " value="提交"></input>
        	</div>
        </div>
	</form>
</block>