<include file="Layout:meta" />
<include file="Layout:head" />
<include file="Layout:nav" />

                    <div id="my_main" class="store_content left" style="min-height: 1067px;">
                        <h1 class="title">店铺管理</h1>
                        <div class="binding_shops">
                            <input id="binding_shops" type="button" onclick="check_binding_shop('3')" value="绑定新店铺">
                            试用会员最多可以绑定1家店铺，正式会员最多可以绑定3家店铺，如需换绑店铺请联系客服<!--QQ:-->
                            <!--<img src="/images/merchant/sj_grzx_icon_qq_default.png" alt="" onclick="window.open('http://wpa.qq.com/msgrd?v=3&uin=&site=qq&menu=yes')">-->
                        </div>
                        <div class="shops_details">
                            <div class="detalis">
								<ul>
                                    <li>
                                        <img src="/images/merchant/sj_dpgl_bg_logo_default.png" alt="">
                                    </li>
                                    <li>
                                        <p class="clothes_name"><span>店铺：</span>恒通伟数码</p>
                                        <p class="two" style="overflow:hidden; text-overflow: ellipsis;white-space:nowrap"><span>链接：</span><a onclick="window.open(&quot;https://shop159741172.taobao.com&quot;)">https://shop159741172.taobao.com</a></p>
                                        <p><span>来源：</span>淘宝</p>
                                    </li>
                                    <li>
                                        <p>QQ：<b>243123732</b></p>
                                        <p class="two">微信：<b>18038000067</b></p>
                                        <p>手机：<b>18038000067</b></p>
                                    </li>
                                    <li>
                                        <p><input class="modify_contact" onclick="show_modify_contact(1092)" type="button" value="修改联系方式"></p>
                                    </li>
                                    <li>
                                        <p>绑定时间：<b>2017-05-22</b></p>
                                    </li>
                                </ul>
                                                    <ul>
                                    <li>
                                        <img src="/images/merchant/sj_dpgl_bg_logo_default.png" alt="">
                                    </li>
                                    <li>
                                        <p class="clothes_name"><span>店铺：</span>礼洛数码配件专营店</p>
                                        <p class="two" style="overflow:hidden; text-overflow: ellipsis;white-space:nowrap"><span>链接：</span><a onclick="window.open(&quot;https://liluosmpj.tmall.com&quot;)">https://liluosmpj.tmall.com</a></p>
                                        <p><span>来源：</span>天猫</p>
                                    </li>
                                    <li>
                                        <p>QQ：<b>243123732</b></p>
                                        <p class="two">微信：<b>18038000067</b></p>
                                        <p>手机：<b>18038000067</b></p>
                                    </li>
                                    <li>
                                        <p><input class="modify_contact" onclick="show_modify_contact(1091)" type="button" value="修改联系方式"></p>
                                    </li>
                                    <li>
                                        <p>绑定时间：<b>2017-05-22</b></p>
                                    </li>
                                </ul>
                                                    <ul>
                                    <li>
                                        <img src="/images/merchant/sj_dpgl_bg_logo_default.png" alt="">
                                    </li>
                                    <li>
                                        <p class="clothes_name"><span>店铺：</span>鼎诚金芝麻专卖店</p>
                                        <p class="two" style="overflow:hidden; text-overflow: ellipsis;white-space:nowrap"><span>链接：</span><a onclick="window.open(&quot;https://dingchengjzm.tmall.com&quot;)">https://dingchengjzm.tmall.com</a></p>
                                        <p><span>来源：</span>天猫</p>
                                    </li>
                                    <li>
                                        <p>QQ：<b>243123732</b></p>
                                        <p class="two">微信：<b>18038000067</b></p>
                                        <p>手机：<b>18038000067</b></p>
                                    </li>
                                    <li>
                                        <p><input class="modify_contact" onclick="show_modify_contact(1089)" type="button" value="修改联系方式"></p>
                                    </li>
                                    <li>
                                        <p>绑定时间：<b>2017-05-22</b></p>
                                    </li>
                                </ul>
                                                </div>
                        </div>
                    </div>
							
				</div>
			</section>
		<!-- page-wrapper end -->
	</div>
	<!-- wrapper -->
</div>
<include file="Layout:foot" />