<include file="Layout:meta" />
<include file="Layout:head" />
<include file="Layout:nav" />

                <!--会员管理-->
                <div id="my_main" class="member_manage left" style="min-height: 732px;">
                    <h1 class="title">会员管理</h1>
                    <h2>会员状态：</h2>
                    <table class="member_state">
                        <tbody><tr>
                            <th>会员类型</th>
                            <th>到期时间</th>
                            <th>操作</th>
                        </tr>
                        <tr>
                            <td>正式会员</td>
                            <td>2018-05-21</td>
                            <td><a href="#" style="color:#005ea7;">续费</a></td>
                        </tr>
                    </tbody></table>
                    <h2>会员充值记录：</h2>
                    <table class="recharge_record">
                        <tbody>
                            <tr>
                                <th>时间</th>
                                <th>开通时间</th>
                                <th>充值金额</th>
                                <th>充值类型</th>
                                <th>状态</th>
                            </tr>
                            <!-- 循环 -->
                            <tr>
                                <td>xxx</td>
                                <td>xxx</td>
                                <td>xxx</td>
                                <td>xxx</td>
                                <td>xxx</td>
                                
                            </tr>
                        </tbody>
                    </table>
                <div style="text-align:center;"></div>
                </div>
                <!-- my_main end -->
            </div>
        </section>
    <!-- page-wrapper end -->
    </div>
    <!-- wrapper -->
</div>
<include file="Layout:foot" />